<template name="myAccount">
  <div class="page myaccount">
    <div class="content-scrollable">
      <div class="page-header">
        <h1>Mon compte</h1>
      </div>
      <div class="wrapper-auth">
        {{#with currentUser}}
          <!--          <pre>-->
          <!--            {{JSONstringify currentUser}}-->
          <!--          </pre>-->
          {{#if hasService 'google'}}
            <div class="mb-5">Compte Google : {{profile.name}} ({{services.google.email}})</div>
          {{/if}}
          {{#if hasService 'password'}}
            <form>
              {{#if username}}
                <div class="mb-3 {{errorClass 'username'}}">
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-user" title="Your Username"></i></span>
                    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" value="{{username}}" disabled="true">
                  </div>
                </div>
              {{/if}}
              <div class="mb-3 {{errorClass 'email'}}">
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1"><i class="fa fa-envelope-o" title="Your Email"></i></span>
                  <input type="email" name="email" class="form-control" placeholder="Your Email" value="{{myemail}}" />
                </div>
              </div>
              <div class="mb-3 {{errorClass 'password'}}">
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1"><i class="fa fa-lock" title="Password"></i></span>
                  <input type="password" name="password" class="form-control" placeholder="New Password" />
                </div>
              </div>
              <div class="mb-3 {{errorClass 'confirm'}}">
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1"><i class="fa fa-lock" title="Confirm Password"></i></span>
                  <input type="password" name="confirm" class="form-control" placeholder="Confirm New Password" />
                </div>
              </div>
              {{#if errorMessages}}
                <div class="list-errors">
                  {{#each errorMessages}}
                    <div class="list-item">{{this}}</div>
                  {{/each}}
                </div>
              {{/if}}
              <div class="mb-3">
                {{#if saved}}
                  <div class="btn btn-success">Changes Saved</div>
                {{else}}
                  <button type="submit" class="btn btn-primary">Enregistrer</button>
                {{/if}}
              </div>
            </form>
          {{/if}}
        {{/with}}
      </div>
    </div>
  </div>
</template>