<template name="displayKey">
  <a href="/dashboard/{{hard._id}}/{{key.name}}" class="display-key status-{{lastSeenClass key.lastDate}} {{hardHidden}}">
    {{#unless hideHard}}
      <div class="hard-alias-name"><a href="/dashboard/{{hard._id}}" class="green-text bold">{{aliasname hard}}</a></div>
    {{/unless}}
    <div class="key-alias-name">{{aliasname key}}</div>
    <div class="value">{{#with key}}{{> displayKeyValue}}{{/with}}</div>
    <div class="subValue bold tablet-mode-hide">{{formatDate key.lastData.date 'shortFullTime2'}}</div>
    {{#if key.max}}
      <div class="tablet-mode-hide"><span class="subTitle ">Maximale : </span> <span class="subValue bold tablet-mode-hide">{{key.max}}{{> displayKeyUnit}}</span></div>
    {{/if}}
    {{#if key.min}}
      <div class="tablet-mode-hide"><span class="subTitle">Minimale : </span> <span class="subValue bold">{{key.min}}{{> displayKeyUnit}}</span></div>
    {{/if}}
    <div class="type tablet-mode-hide">{{{getIconType key.type}}}</div>
  </a>
</template>

<template name="displayKeyUnit">
  <span class="unit">
    {{#if unit}}
      {{unit}}
    {{else}}
      {{#if equals type 'temp'}}°C{{/if}}
      {{#if equals type 'hum'}}%{{/if}}
    {{/if}}</span>
</template>

<template name="displayKeyLast">
  {{#if equals type 'boolean'}}
    {{#if isKeyLastOne}}
      ON
    {{else}}
      OFF
    {{/if}}
  {{else}}
    {{#if equals type 'inversed-boolean'}}
      {{#if isKeyLastOne}}OFF{{else}}ON{{/if}}
    {{else}}
      {{formatValueFromKey this}}
    {{/if}}
  {{/if}}
</template>