<template name="dashboardHardwares">

  <!-- Nav tabs -->
  <ul id="myTabs" class="nav nav-tabs md-tabs" role="tablist">
    {{#if isConnected}}
      <li class="nav-item"><a href="#mine" class="nav-link" aria-controls="mine" data-bs-toggle="tab">Persos</a></li>
      <li class="nav-item"><a href="#share" class="nav-link" aria-controls="share" data-bs-toggle="tab">Partagés</a></li>
    {{/if}}
    <li class="nav-item"><a href="#public" class="nav-link" aria-controls="public" data-bs-toggle="tab">Publiques</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content card pt-5">
    {{#if isConnected}}
      <div class="tab-pane {{active 'connected'}}" id="mine">
        {{> dashTab which='mine'}}
      </div>
      <div class="tab-pane" id="share">
        {{> dashTab which='shared'}}
      </div>
    {{/if}}
    <div class="tab-pane {{active 'notConnected'}}" id="public">
      {{> dashTab which='public'}}
    </div>
  </div>
  <div class="clearfix"></div>

</template>