<template name="dashboard">
  {{#if isTabletMode}}
    {{> dashboardRooms}}
  {{else}}
    <div class="page-header">
      <h1>Tableau de bord</h1>

<!--      {{#with lastData}}-->
<!--        <p class="subtitle d-sm-none d-md-block">-->
<!--          <span>Dernière donnée : {{formatDate lastKey.lastDate "long"}} - {{aliasname lastHard}} - {{aliasname lastKey}} - {{lastKey.last}}</span>-->
<!--        </p>-->
<!--      {{/with}}-->
    </div>

    {{> breadcrumb breadcrumbLinks}}

    {{#if configGroupBoard}}
      {{> dashboardRooms}}
    {{else}}
      {{> dashboardHardwares}}
    {{/if}}
  {{/if}}
</template>

<template name="dashTab">

  {{#with keys 'temp'}}
    <div class="row">
      <div class="col-3 col-lg-2 text-center"><img src="/img/temperature.jpg" class="img-responsive the-style" alt="temperature"></div>
      <div class="col-9 col-lg-10">
        {{#each this}}
          {{#with hard=hard key=this}}
            {{> displayKey}}
          {{/with}}
        {{/each}}
      </div>
    </div>
  {{/with}}

  {{#with keys 'hum'}}
    <div class="row">
      <div class="col-3 col-lg-2 text-center"><img src="/img/humidite.jpg" class="img-responsive the-style" alt="humidite"></div>
      <div class="col-9 col-lg-10">
        {{#each this}}
          {{#with hard=hard key=this}}
            {{> displayKey}}
          {{/with}}
        {{/each}}
      </div>
    </div>
  {{/with}}

  {{#with keys 'watts'}}
    <div class="row">
      <div class="col-3 col-lg-2 text-center"><img src="/img/puissance.jpg" class="img-responsive the-style" alt="puissance"></div>
      <div class="col-9 col-lg-10">
        {{#each this}}
          {{#with hard=hard key=this}}
            {{> displayKey}}
          {{/with}}
        {{/each}}
      </div>
    </div>
  {{/with}}

  {{#with keys}}
    <div class="row">
      <div class="col-3 col-lg-2 text-center"><img src="/img/other.jpg" class="img-responsive the-style" alt="humidite"></div>
      <div class="col-9 col-lg-10">
        {{#each this}}
          {{#with hard=hard key=this}}
            {{> displayKey}}
          {{/with}}
        {{/each}}
      </div>
    </div>
  {{/with}}
</template>
