<template name="hardware">
  <div class="content-scrollable">

    {{#with hardware}}
      <div class="page-header">
        <h1>{{aliasname}}</h1>
      </div>

      {{#if equals type 'karotz'}}
        <div class="float-end"><a href="http://{{ip}}:{{port}}" target="_blank" class="btn btn-sm btn-warning">Karotz Web</a></div>
        {{> breadcrumb breadcrumbLinks}}

        {{> karotz}}
      {{else}}
        {{#if equals type 'nabaztag-pi'}}
          {{> breadcrumb breadcrumbLinks}}

          {{> tplNabaztag}}
        {{else}}
          {{> breadcrumb breadcrumbLinks}}

          {{> tplArduino}}
        {{/if}}
      {{/if}}
    {{/with}}
  </div>
</template>
