<template name="mhz433">

  <div class="tab-pane fade" id="rf-link">
    {{> mhz433ListenOnOff}}

    {{#each mhz433}}
      {{#with context=this parent=..}}
        <form class="send">
          <div class="row exist">
            <div class="col">
              <input name="alias" class="form-control" placeholder="alias" value="{{context.alias}}">
            </div>
            <div class="col">
              <input name="broche" class="form-control" placeholder="broche" value="{{context.broche}}">
            </div>
            <div class="col">
              <input name="signal" class="form-control" placeholder="signal" value="{{context.signal}}">
            </div>
            <div class="col">
              <button class="btn btn-sm btn-primary">Envoyer signal</button>
              <a class="btn btn-sm btn-danger js-delete"><i class="fa fa-trash"></i></a>
            </div>
          </div>
        </form>
      {{/with}}
    {{/each}}

    <form id="new">
      <div class="row">
        <div class="col">
          <input name="alias" class="form-control" placeholder="alias">
        </div>
        <div class="col">
          <input name="broche" class="form-control" placeholder="broche">
        </div>
        <div class="col">
          <input name="signal" class="form-control" placeholder="nouveau signal">
        </div>
        <div class="col">
          <button class="btn btn-sm btn-primary">Ajouter signal</button>
        </div>
      </div>
    </form>
  </div>

</template>