<template name="webmasterConfigs">
  <div class="page-header">
    <h1>Configs</h1>
  </div>

  <h2>Heure serveur</h2>
  <div id="time"></div>

  <h2 class="mt-5">keyType</h2>
  <div class="sortable">
    {{#each types}}
      <form class="key-type-update">
        <div class="row the-style" data-sortable-config_id="{{_id}}">
          <div class="col"><input name="icon" value="{{icon}}" class="form-control"><i class="{{icon}}"></i></div>
          <div class="col text-right"><input name="value" value="{{value}}" class="form-control"></div>
          <div class="col"><input name="name" value="{{name}}" class="form-control"></div>
          <div class="col"><a class="btn btn-sm btn-warning js-update-save"><i class="fa fa-save"></i></a> <a class="btn btn-sm btn-danger js-remove"><i class="fa fa-trash"></i></a></div>
        </div>
      </form>
    {{/each}}
  </div>

  <form id="key-type-add">
    <div class="row the-style">
      <div class="col"><input name="icon" placeholder="icon" class="form-control"></div>
      <div class="col text-right"><input name="value" placeholder="value" class="form-control"></div>
      <div class="col"><input name="name" placeholder="name" class="form-control"></div>
      <div class="col">
        <button class="btn btn-primary">add</button>
      </div>
    </div>
  </form>

  <h2 class="mt-5">Tags</h2>
  {{#each tags}}
    <div>{{value}}</div>
  {{/each}}
</template>