<template name="webmasterDbs">
  <div class="page-header">
    <h1>Base de données</h1>
  </div>

  <a class="js-delete-DataByKey-orphan">Delete DataByKey without Key</a>
  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th>dbName</th>
      <th>hard name</th>
      <th>Key</th>
      <th>Key Alias</th>
      <th>Count</th>
      <th width="150"></th>
    </tr>
    </thead>
    <tbody>
    {{#each dbs}}
      <tr>
        <td>{{name}}</td>
        {{#if key}}
          {{#with hard}}
            <td>
              {{aliasname name}}
            </td>
          {{/with}}
          {{#with key}}
            <td>{{{name}}}</td>
            <td><b>{{alias}}</b></td>
          {{/with}}
        {{else}}
          <td></td>
          <td></td>
          <td></td>
        {{/if}}
        <td>{{this.count}}</td>
        <td class="text-end">{{#with key}}<a href="{{pathFor 'webmasterDbsKey' keyId=_id}}" class="btn btn-sm btn-warning"><i class="fa fa-edit"></i></a>{{/with}} <a class="btn btn-sm btn-danger js-delete-db"><i class="fa fa-trash"></i></a></td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</template>

<template name="webmasterDbsKey">
  <div class="page-header">
    <h1>{{aliasname this}}</h1>

    {{#with getHardOne hard_id}}
      <div>{{_id}} : {{aliasname this}}</div>
    {{/with}}
    <pre>{{JSONstringify this}}</pre>

    <div>Deplacer les datas vers une nouvelle db</div>
    <form>
      <label>hard_id {{hard_id}}</label>
      <div>
        <input name="hard_id" placeholder="hard_id" value="{{hard_id}}">
      </div>
      <label>cle {{name}}</label>
      <div>
        <input name="cle" placeholder="cle" value="{{name}}">
      </div>
      <label>cleId {{_id}}</label>
      <div>
        <input name="cleId" placeholder="cleId" value="{{_id}}">
      </div>
      <button>send</button>
    </form>
  </div>
</template>
