<template name="webmasterFix">
  <h1>FIX</h1>

  <h2>Actions</h2>

  <form>
    <textarea name="actions" class="form-control"></textarea>
    <button>fix</button>
  </form>

  [
  {{#each actions}}
    <pre>
      {{JSONstringify this}},
    </pre>
  {{/each}}
  ]
</template>