<template name="webmasterUsers">
  <div class="content-scrollable">
    <div class="page-header">
      <h1>Utilisateurs</h1>
    </div>

    <table class="table the-style">
      <thead>
      <tr>
        <th>Nom</th>
        <th>username</th>
        <th>Inscrit</th>
        <th><i class="fa fa-arrow-down"></i> Dernière visite</th>
        <th>email</th>
        <th>services</th>
        <th>roles</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      {{#each users}}
        <tr>
          <td>
            <div class="p-2 label {{labelClass}}">{{getUserFullname _id}}</div>
            <div></div>
          </td>
          <td>{{username}}</td>
          <td>{{formatDate inscrit "short"}}</td>
          <td>{{#if lastLogin}}{{formatDate lastLogin "dh"}}{{/if}}</td>
          <td>{{getUserEmail _id}}</td>
          <td>{{JSONstringify (getUserServices _id)}}</td>
          <td>
            <form>
              <select class="chosen-roles" data-placeholder="Ajouter un groupe" multiple>
                {{#each roles}}
                  {{#with context=this parent=..}}
                    <option value="{{context.name}}" {{roleSelected context.name}} {{roleDisabled context.name}}>{{context.name}}</option>
                  {{/with}}
                {{/each}}
              </select>
            </form>
          </td>
          <td><button data-impersonate="{{_id}}">Click to impersonate</button></td>
        </tr>
      {{/each}}

      </tbody>
    </table>
  </div>
</template>
