<template name="configurationRoomsActions">
  <div class="tab-content card pt-5 room" id="tab-actions">
    <div class="row">
      <div class="col">Nom</div>
      <div class="col">URL</div>
      <div class="col">Groupe</div>
      <div class="col"></div>
    </div>
    <div class="sortable">
      {{#each getMyActions}}
        <form id="form-{{_id}}" data-sortable-action_id="{{_id}}">
          <div class="row the-style">
            <div class="col">{{name}}</div>
            <div class="col">/api/scenario/action?id={{_id}}</div>
            <div class="col">
              {{> configurationRoomsSelect}}
            </div>
            <div class="col text-right">{{#if isEditing}}<a class="btn btn-sm btn-primary js-submit"><i class="fa fa-save"></i></a>{{else}}<a class="float-end js-edit"><i class="fa fa-edit"></i></a>{{/if}}</div>
          </div>
        </form>
      {{else}}
        <div>Aucune actions</div>
      {{/each}}
    </div>
  </div>
</template>