<template name="configurationRooms">
  <div class="page configuration rooms">
    <div class="page-header">
      <h1>Groupes (lieus, pièces, extèrieurs...)</h1>
    </div>

    {{> breadcrumb breadcrumbLinks}}

    <table class="table sortable table-rooms">
      <tr class="not-dragguable">
        <td width="40"></td>
        <td width="80"></td>
        <td>Nom</td>
        <td>Partage</td>
        <td width="140"></td>
      </tr>
      {{#each getMyRooms}}
        {{> configurationRoomsRoom}}
      {{/each}}
      <tr class="the-style not-dragguable">
        <td></td>
        <td></td>
        <td><input class="form-control" name="new-room" placeholder="Nouveau groupe" /></td>
        <td></td>
        <td class="text-right"><a class="btn btn-sm  btn-primary js-add-new-room"><i class="fa fa-plus"></i></a></td>
      </tr>
    </table>
  </div>
</template>