<template name="configurationRoomsRoom">
  <tr class="the-style room p-t-0 p-b-0" data-sortable-room_id="{{_id}}">
    <td><span class="material-icons-outlined handle">drag_indicator</span></td>
    <td class="">
      {{#if show}}
        <button class="btn btn-sm btn-primary room-show text-white" title="visible"><i class="fa fa-eye fa-fw"></i></button>
      {{else}}
        <button class="btn btn-sm btn-outline-primary room-show" title="cachée"><i class="fa fa-eye-slash fa-fw"></i></button>
      {{/if}}
    </td>
    <td class=""><input class="form-control" name="room" value="{{name}}" placeholder="" /></td>
    <td>
      <select name="shared[]" class="select-shared" multiple>
        {{#each myContacts}}
          <option value="{{_id}}" {{isSelectedOption _id ../shared}}>{{getUsername _id}}</option>
        {{/each}}
      </select>
    </td>
    <td class="text-right">
      <a href="{{pathFor 'configurationRoomEdit' _id=_id}}" class="btn btn-sm btn-warning"><i class="fa fa-edit"></i></a>
      <a class="btn btn-sm btn-danger js-remove"><i class="fa fa-trash"></i></a>
    </td>
  </tr>
</template>