<template name="configurationRoomsKeyAdd">
  <form id="rooms-key-add">
    <div class="row the-style">
      <div class="col">
        {{#if getHardId}}
          <select name="keyId" class="form-control">
            <option value="">-- Choisir CLE --</option>
            {{#each getMyKeysByHardId getHardId}}
              <option value="{{_id}}">{{aliasname}}</option>
            {{/each}}
          </select>
        {{/if}}
      </div>
      <div class="col">
        <select name="hardId" class="form-control">
          <option value="">-- Choisir MATERIEL --</option>
          {{#each getMyHardwares}}
            <option value="{{_id}}">{{aliasname}}</option>
          {{/each}}
        </select>
      </div>
      <div class="col">

      </div>
      <div class="col">{{> configurationRoomsSelect}}</div>
      <div class="col text-right"><a class="btn btn-sm btn-primary js-key-add"><i class="fa fa-plus"></i></a></div>
    </div>
  </form>
</template>