<template name="configurationRoomsKeys">
  <div class="tab-content card pt-5 room" id="tab-keys">
    <table class="table configuration-rooms-keys">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Matériel</th>
          <th>Groupe</th>
          <th width="100" class="text-end"></th>
        </tr>
      </thead>
      <tbody class="sortable">
        {{#each getMyKeysByRoomId _id}}
          <tr class="the-style" data-sortable-key_id="{{_id}}">
            <td>{{aliasname}}</td>
            <td>{{aliasname (getHardOne hard_id)}}</td>
            <td>
              <form id="form-{{_id}}">{{> configurationRoomsSelect}}</form>
            </td>
            <td class="text-end">
              {{#if isEditing}}
                <a class="btn btn-sm btn-primary js-submit"><i class="fa fa-save"></i></a>
              {{else}}
                <a class="btn btn-xs btn-warning js-edit"><span class="material-icons-outlined">edit</span></a>
                {{#with roomId=../_id keyId=_id}}
                  <a class="btn btn-xs btn-danger js-remove"><span class="material-icons-outlined">delete</span></a>
                {{/with}}
              {{/if}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
    {{> configurationRoomsKeyAdd}}
  </div>
</template>