<template name="tplArduino">
  <ul id="hardwareTabs" class="nav nav-tabs md-tabs" role="tablist">
    <li class="nav-item"><a href="#devices" class="nav-link" aria-controls="devices" data-bs-toggle="tab">Périphériques</a></li>
    {{#if isMine}}
      {{#if hasDeviceType 86}}
        <li class="nav-item"><a href="#rf-link" class="nav-link" aria-controls="rf-link" data-bs-toggle="tab">RFLink 433</a></li>
      {{/if}}
    {{/if}}
  </ul>

  <div class="tab-content card pt-5">
    <div class="tab-pane fade" id="devices">
      {{#each keys}}
        {{#with key=this hard=(getHardOne hard_id) hideHard=true}}
          {{> displayKey}}
        {{/with}}
      {{else}}
        Vous n'avez encore aucune données
      {{/each}}
    </div>
    {{#if isMine}}
      {{#if hasDeviceType 86}}
        {{> mhz433}}
      {{/if}}
    {{/if}}
  </div>

  <div class="clearfix"></div>
</template>