<template name="configurationScrapers">
  <div class="page-header">
    <h1>Scrappers</h1>
  </div>

  {{> breadcrumb breadcrumbLinks}}

  <a class="js-scrapers-add">Ajouter</a>

  <div id="scraper-add" class="hidden">
    <form id="add">
      <div class="mb-3">
        <input name="title" class="form-control" placeholder="Titre">
      </div>
      <div class="mb-3">
        <input name="repeat" class="form-control" placeholder="Seconds">
      </div>
      <div class="mb-3">
        <input name="url" class="form-control" placeholder="Url">
      </div>
      <div class="mb-3">
        <label>Type</label>
        <select class="form-control js-select-relai-hard" name="type">
          <option value="">-- {{trans 'choose'}} --</option>
          <option value="html">html</option>
          <option value="json">json</option>
        </select>
      </div>
      <div class="mb-3">
        <input name="element" class="form-control" placeholder="Element unique ex: #identifiant">
      </div>
      <div class="mb-3">
        <label>Matériel</label>
        <select class="form-control js-select-relai-hard" name="hardId">
          <option value="">---</option>
          {{#each hardwareMine}}
          <option value="{{_id}}">{{aliasname}}</option>
          {{/each}}
        </select>
      </div>
      <div class="mb-3">
        <input name="key" class="form-control" placeholder="Cle">
      </div>
      <button class="btn btn-sm btn-primary">Ajouter</button>
    </form>
  </div>

  <table class="table m-t-50">
    <thead>
      <tr>
        <th>Titre</th>
        <th>Repeat</th>
        <th>Url</th>
        <th>Type</th>
        <th>Element</th>
        <th>Materiel</th>
        <th>Cle</th>
        <th>Dernier scrap</th>
        <th width=""></th>
      </tr>
    </thead>
    <tbody>
      {{#each scrapers}}
      {{#if isEditing}}
      <tr>
        <td colspan="8">
          <form id="edit">
            <div class="mb-3">
              <input name="title" class="form-control" placeholder="Titre" value="{{title}}">
            </div>
            <div class="mb-3">
              <input name="repeat" class="form-control" placeholder="Seconds" value="{{repeat}}">
            </div>
            <div class="mb-3">
              <input name="url" class="form-control" placeholder="Url" value="{{url}}">
            </div>
            <div class="mb-3">
              <label>Type</label>
              <select class="form-control js-select-relai-hard" name="type">
                <option value="">-- {{trans 'choose'}} --</option>
                <option value="html" {{isSelectedOption 'html' type}}>html</option>
                <option value="json" {{isSelectedOption 'json' type}}>json</option>
              </select>
            </div>
            <div class="mb-3">
              <input name="element" class="form-control" placeholder="Element unique ex: #identifiant" value="{{element}}">
            </div>
            <div class="mb-3">
              <label>Matériel</label>
              <select class="form-control js-select-relai-hard" name="hardId">
                <option value="">---</option>
                {{#each hardwareMine}}
                <option value="{{_id}}" {{isSelectedOption _id ../hardId}}>{{aliasname}}</option>
                {{/each}}
              </select>
            </div>
            <div class="mb-3">
              <input name="key" class="form-control" placeholder="Cle" value="{{key}}">
            </div>
            <button class="btn btn-sm btn-primary">Enregistrer</button>
          </form>
        </td>
      </tr>
      {{else}}
      <tr>
        <td>{{title}}</td>
        <td>{{repeat}}</td>
        <td>{{url}}</td>
        <td>{{type}}</td>
        <td>{{element}}</td>
        <td>{{hardId}}</td>
        <td>{{key}}</td>
        <td>{{formatDate lastDateDone 'long'}}</td>
        <td>
          <a class="btn btn-sm btn-primary js-scrapers-send"><i class="fa fa-send"></i></a>
          <a class="btn btn-sm btn-warning js-scrapers-edit"><i class="fa fa-edit"></i></a>
          <a class="btn btn-sm btn-danger js-scrapers-delete"><i class="fa fa-trash"></i></a>
        </td>
      </tr>
      {{/if}}
      {{/each}}
    </tbody>
  </table>

</template>