<template name="tplNabaztag">

  <p>
    {{#each keys}}
      <span class="aliasQui"><a href="/dashboard/{{hard_id}}/{{name}}/24">{{aliasname}}</a></span>
    {{/each}}
  </p>

  <button class="btn btn-primary js-command" data-command='{"type":"ears","left":"10","right":"10"}'>Oreilles 10,10</button>
  <button class="btn btn-primary js-command" data-command='{"type":"ears","left":"20","right":"20"}'>Oreilles 20,20</button>
  <button class="btn btn-primary js-command" data-command='{"type":"sleep"}'>Dodo</button>
  <button class="btn btn-primary js-command" data-command='{"type":"wakeup"}'>Reveille</button>

  <h4>command nadb</h4>
  <form id="nadb">
    <textarea name="nadb" class="form-control" rows="6" placeholder='{"type":"ears","left":"10","right":"10"}'></textarea>
    <button>Envoyer</button>
  </form>

</template>