<template name="adminContact">
  <div class="page-header">
    <h1>Contact</h1>
  </div>

  {{#each contacts}}
    <div class="the-style">
      <p>Le : {{formatDate created 'long'}}</p>

      <p>Nom: {{nom}} ( {{from}} )</p>

      <p>Message: {{message}}</p>
    </div>
  {{else}}
    Aucun message
  {{/each}}
</template>

<template name="admContacts">


</template>
