<template name="adminRoles">
  <div class="content-scrollable">
    <div class="page-header">
      <h1>Roles</h1>
    </div>
   {{#each roles}}
     <div class="row the-style">
       {{name}}
     </div>
   {{/each}}
    <input name="new-role">
  </div>
</template>
