<template name="adminLogs">
    <div class="page-header">
        <h1>Derniers Logs</h1>
    </div>

    {{> breadcrumb breadcrumbLinks}}

    <div class="the-style">
        {{#each hards}}
            {{> aliasName ctx=this link=(concat "/admin/logs/50/" _id) class=(actif this ..)}}
        {{/each}}
    </div>

    {{#if isTplReady}}
        {{#each getAllTags}}
            {{#if isTagSelected value}}
                <a href="{{pathFor 'adminLogs' hard_id=getHardId limit=50}}" class="badge badge-primary">{{value}}</a>
            {{else}}
                <a href="{{pathFor 'adminLogs' hard_id=getHardId limit=50 query=(concat "tag=" value)}}"
                   class="badge bg-dark">{{value}}</a>
            {{/if}}
        {{/each}}

        <div id="tabs" class="mt-5">
            <ul>
                <li class="float-end tabActive">
                    <a id="deleteall">Supprimer les logs</a>
                </li>
                <li class="nb {{tabActive '50'}}" content="50"><a href="{{pathFor 'adminLogs' limit=50 name=name}}">50
                    derniers</a></li>
                <li class="nb {{tabActive '100'}}" content="100"><a href="{{pathFor 'adminLogs' limit=100 name=name}}">100
                    derniers</a></li>
                <li class="nb {{tabActive '500'}}" content="500"><a href="{{pathFor 'adminLogs' limit=500 name=name}}">500
                    derniers</a></li>
            </ul>
        </div>

        <div class="the-style mt-2">
            <ul>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Hardware</th>
                        <th>Log</th>
                        <th class="text-right">Tags</th>
                        <th class="text-right">IP</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each getLogs}}
                        <tr class="{{#each tags}}log-tag-{{this}} {{/each}}">
                            <td><b>{{formatDate date "long"}}</b></td>
                            <td><a href="/admin/logs/50/{{hard_id}}" class="badge badge-primary">{{hard_name}}</a></td>
                            <td>
                                {{#each logs}}
                                    <div>{{log}}</div>
                                {{/each}}
                            </td>
                            <td class="text-right">{{#each tag in tags}} <a href="{{pathFor 'adminLogs' limit=50 query=(concat "tag=" tag)}}" class="badge {{tagClass tag}}">{{tag}}</a> {{/each}}</td>
                            <td class="text-right"><span class="badge badge-warning">{{ip}}</span></td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </ul>
        </div>
    {{else}}
        <div class="mt-4 text-center">
            <i class="fa fa-spinner fa-spin fa-5x"></i>
        </div>
    {{/if}}
</template>
