<template name="adminNews">
  <h3>News</h3>

  <form id="add-news">
    <div class="mb-3">
      <label class="col-lg-2 control-label">Titre</label>

      <div class="col-lg-4">
        <input type="text" class="form-control" name="title" Placeholder="titre">
      </div>
    </div>
    <div class="mb-3">
      <div class="col-lg-3">
        <button type="submit" class="btn btn-primary">Ajouter la news</button>
      </div>
    </div>
  </form>

  <table class="table table-striped">
    <thead>
    <tr>
      <th width="50">Flash</th>
      <th>Titre</th>
      <th>Date</th>
      <th width="96"></th>
    </tr>
    </thead>
    <tbody>
    {{#each news}}
      {{#if isEditing}}
        <tr>
          <td><input type="checkbox" name="flash" {{isChecked flash}}></td>
          <td><input name="title-edit" value="{{title}}" class="form-control"></td>
          <td>{{formatDate created "long"}}</td>
          <td width="150">
            <a class="js-edit-submit btn btn-sm btn-primary">
              <i class="fa fa-check"></i>
            </a>
            <a href="{{pathFor 'adminNews'}}" class="js-cancel btn btn-sm btn-default">
              <i class="fa fa-remove"></i>
            </a>
          </td>
        </tr>
      {{else}}
        <tr>
          <td><input type="checkbox" name="flash" {{isChecked flash}}></td>
          <td>{{title}}</td>
          <td>{{formatDate created "long"}}</td>
          <td width="150">
            <a href="/admin/news/sendmail/{{_id}}" class="btn btn-sm btn-primary">
              <i class="fa fa-send"></i>
            </a>
            <a class="js-edit btn btn-sm btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <button id="delNews" class="btn btn-sm btn-danger">
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
      {{/if}}
    {{/each}}
    </tbody>
  </table>
  <hr>
</template>
