<template name="adminUpload">
  <div class="page-header">
    <h1>Upload</h1>
  </div>

  {{> dfmFilesLocalUploadForm sourceId="hmdFiles"}}

  {{> dfmFilesDisplayMultiple sourceId="hmdFiles" displaySize=true}}
</template>