<template name="adminMessages">
  <div id="messages-admin">
    <div class="page-header">
      <h1>Messages</h1>
    </div>

    {{> breadcrumb breadcrumbLinks}}

    {{#with getMessages}}
      <div id="messages">
        {{#each messages}}
          <div class="infos">{{formatDate createdAt 'long'}} {{#if close}}fermé{{else}}ouvert{{/if}} {{getUsername userId}}</div>
          <div class="message {{style}}">
            <div class="close js-close"><i class="fa fa-close"></i></div>
            <div class="title">{{title}}</div>
            <div class="text">{{text}}</div>
            <div class="details">
              <pre>{{JSONstringify details}}</pre>
            </div>
          </div>
        {{/each}}
      </div>
    {{else}}
      Aucun messages
    {{/with}}
  </div>
</template>
