<template name="adminDevice">
  <div class="page-header">
    <h1>Périphériques</h1>
  </div>

  {{> breadcrumb breadcrumbLinks}}

  <div>
    <form>
      <div class="mb-3">
        <label>type id</label>
        <input class="form-control in-reset" name="type_id">
      </div>
      <div class="mb-3">
        <label>titre</label>
        <input class="form-control in-reset" name="title">
      </div>
      <div class="mb-3">
        <label>description</label>
        <input class="form-control in-reset" name="body">
      </div>
      <div class="mb-3">
        <button class="btn btn-primary">Ajouter</button>
      </div>
    </form>
  </div>

  <table class="table">
    <thead>
    <tr>
      <th>Type ID</th>
      <th>Title</th>
      <th>Description</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    {{#each devices}}
      <tr class="the-style">
        {{#if edit _id}}
          <td colspan="3">
            <div class="mb-3">
              <label>Type id</label>
              <input name="type_id_edit" type="number" value="{{type_id}}" class="form-control">
            </div>
            <div class="mb-3">
              <label>Title</label>
              <input name="title_edit" value="{{title}}" class="form-control">
            </div>
            <div class="mb-3">
              <label>Description</label>
              <input name="body_edit" value="{{body}}" class="form-control">
            </div>
            <button class="col-offset-1 col-2 btn btn-sm btn-primary js-edit-valid">valider</button>
          </td>
        {{else}}
          <td><span class="badge badge-danger">{{type_id}}</span></td>
          <td>{{title}}</td>
          <td>{{body}}</td>
          <td>
            <button type="button" class="btn btn-sm btn-warning js-edit"><i class="fa fa-edit"></i></button>
            <button type="button" class="btn btn-sm btn-danger js-delete"><i class="fa fa-trash"></i></button>
          </td>
        {{/if}}
      </tr>
    {{/each}}
    </tbody>
  </table>
</template>
