<template name="adminKarotz">
  <div class="page-header">
    <h1>Karotz</h1>
  </div>



  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a role="button" data-bs-toggle="collapse" data-bs-parent="#accordion" href="#collapseUpdate" aria-expanded="true" aria-controls="collapseUpdate">
            &#128048; Update
          </a>
        </h4>
      </div>
      <div id="collapseUpdate" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          /cgi-bin/cmd?cmd=

          <form id="cmd-karotz">
            {{#each cmdsKarotz}}
              <div>
                <input class="form-control" name="cmdKarotz[]" value="{{value}}">
              </div>
            {{/each}}

            <input class="form-control cmd-karotz-new" name="cmdKarotz[]" placeholder="nouvelle commande">

            <button class="btn btn-primary"> Save</button>
          </form>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a role="button" data-bs-toggle="collapse" data-bs-parent="#accordion" href="#collapseRadios" aria-expanded="true" aria-controls="collapseRadios">
            &#128251; Radios
          </a>
        </h4>
      </div>
      <div id="collapseRadios" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">

          <form id="radios-karotz">
            {{#each radiosKarotz}}
              <div class="row">
                <div class="col-4">
                  <input class="form-control" name="radiosKarotzName[]" value="{{name}}">
                </div>
                <div class="col-8">
                  <input class="form-control" name="radiosKarotzUrl[]" value="{{url}}">
                </div>
              </div>
            {{/each}}

            <div class="row">
              <div class="col-4">
                <input class="form-control radio-karotz-new" name="radiosKarotzName[]" placeholder="nom">
              </div>
              <div class="col-8">
                <input class="form-control radio-karotz-new" name="radiosKarotzUrl[]" placeholder="url">
              </div>
            </div>
            <button class="btn btn-primary"> Save</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>