<template name="adminDebug">
  <div class="page-header">
    <h1>Debug</h1>
  </div>

  <h2>ConfigCle</h2>

  <table class="table table-stripped table-hover">
    <thead>
    <tr>
      <th>_id</th>
      <th>hard_id</th>
      <th>aliasname</th>
      <th>show</th>
    </tr>
    </thead>
    <tbody>
    {{#each configCle}}
      <tr>
        <td>{{_id}}</td>
        <td>{{hard_id}}</td>
        <td>{{aliasname}}</td>
        <td>{{show}}</td>
      </tr>
    {{/each}}
    </tbody>
  </table>

  <h2>Except</h2>

  <div>
    {{#each except}}
      <button type="button" class="js-hard badge badge-primary">{{hardName}}</button>
    {{/each}}
  </div>

  <h2>Data (5 last)</h2>

  <table class="table">
    <thead>
    <tr>
      <th>HardName</th>
      <th>Cle</th>
      <th>Valeur</th>
      <th>date</th>
      <th width="40"></th>
    </tr>
    </thead>
    <tbody>
    {{#each data}}
      <tr>
        <td>
          <button type="button" class="js-hard badge badge-primary">{{hardName}}</button>
        </td>
        <td>{{cle}}</td>
        <td>{{valeur}}</td>
        <td>{{formatDate date 'long'}}</td>
        <td>
          <button type="button" class="js-delete-hard badge badge-danger"><i class="fa fa-trash"></i></button>
        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>

</template>
