<template name="adminHardware">
  <h1>Matériel</h1>

  <h2>{{aliasname}}</h2>

  <p>Nombre de données de ce matériel: {{dataCount _id ''}}</p>

  <h2>Périphériques</h2>
  <table class="table">
    <thead>
    <tr>
      <th>Broche</th>
      <th>Live</th>
      <th>Name</th>
      <th>Type_id</th>
    </tr>
    </thead>
    <tbody>
    {{#each devices}}
      <tr>
        <td>{{broche}}</td>
        <td>{{live}}</td>
        <td>{{name}}</td>
        <td>{{type_id}}</td>
      </tr>
    {{/each}}
    </tbody>
  </table>

  <h2>Clés</h2>
  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Alias</th>
      <th>Style</th>
      <th>min</th>
      <th>max</th>
      <th>last</th>
      <th>nombre</th>
    </tr>
    </thead>
    <tbody>
    {{#each keys}}
      <tr>
        <td>{{name}}</td>
        <td>{{alias}}</td>
        <td>{{style}}</td>
        <td>{{min}}</td>
        <td>{{max}}</td>
        <td>{{lastData.value}}</td>
        <td>{{dataCount hard_id name}}</td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</template>
