<template name="adminHardwares">
  <div class="content-scrollable">
    <div class="page-header">
      <h1>Materiels</h1>
    </div>

    {{> breadcrumb breadcrumbLinks}}

    <table class="table table-hover the-style">
      <thead>
        <tr>
          <th>{{> orderBy name="adminHardwares" orderBy="alias" title="Nom"}}</th>
          <th>Propriétaire</th>
          <th>{{> orderBy name="adminHardwares" orderBy="version" title="Version"}}</th>
          <th>Id</th>
          <th>{{> orderBy name="adminHardwares" orderBy="lastSeen" title="Last Seen" default=true}}</th>
          <th>{{> orderBy name="adminHardwares" orderBy="lastBoot" title="Last Boot"}}</th>
          <th>IP : PORT</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>SERVEUR</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>{{formatDate serverBoot.date 'shortFullTime2'}}</td>
          <td></td>
          <td></td>
        </tr>
        {{#each hardwares}}
        <tr>
          <td>
            <a href="/admin/hardware/{{_id}}">
              <button class="btn btn-sm btn-{{lastSeenClass lastSeen}}">{{> isDDPConnected ddpId=ddpId}} {{aliasname}}</button>
            </a>
          </td>
          <td>
            <select name="owner" class="form-control chosen">
              <option value="">...</option>
              {{#each users}}
              {{#with context=this parent=..}}
              <option value="{{context._id}}" {{ownerSelected context._id}} {{ownerSelected context._id}}>{{context.username}}</option>
              {{/with}}
              {{/each}}
            </select>
          </td>
          <td>
            {{#if version}}
            <span class="p-2 badge badge-primary">{{version}}</span>
            {{/if}}
          </td>
          <td>
            <input class="form-control" value="{{_id}}" disabled>
          </td>
          <td>
            {{formatDate lastSeen 'shortFullTime2'}}
          </td>
          <td>
            {{#if lastBoot}}
            {{formatDate lastBoot 'shortFullTime2'}}
            {{/if}}
          </td>
          <td>
            {{#if ip}}<span class="p-2 badge badge-light">{{ip}}</span>{{#if port}}: <span class="p-2 badge badge-light">{{port}}</span>{{/if}}{{/if}}
          </td>
          <td class="text-right">
            <button class="btn btn-sm btn-primary js-lire-id">LIRE ID</button>
            <button class="btn btn-sm btn-danger js-raz">R.A.Z</button>
            <button class="btn btn-sm btn-warning js-reset">REBOOT</button>
            <button class="btn btn-sm btn-danger js-remove"><i class="fa fa-xs fa-trash"></i></button>
          </td>
        </tr>
        <!--        {{#with getConnection}}-->
        <!--          <tr>-->
        <!--            <td colspan="8" class="border-top-0">-->
        <!--              <span class="alpha-50">{{userAgent}}</span>-->
        <!--            </td>-->
        <!--          </tr>-->
        <!--        {{/with}}-->
        {{/each}}
      </tbody>
    </table>

    <div>
      Dernière donnée reçue
      <span class="badge badge-primary"> inférieur à 30 minutes</span>
      <span class="badge badge-warning"> entre 30 min et 24h</span>
      <span class="badge badge-danger"> entre 24 heures min et 7 jours</span>
      <span> supérieur à 7 jours</span>
    </div>
  </div>
</template>