<template name="adminDdp">
  <div class="page-header">
    <h1>DDP</h1>
  </div>

  {{> breadcrumb breadcrumbLinks}}

  {{#each connected}}
    <div class="the-style">
      _id : {{_id}}<br>
      connected id : <span class="badge badge-success">{{id}}</span><br>
      adresse ip : <span class="badge badge-warning">{{clientAddress}}</span><br>
      userAgent : {{custom.userAgent}}<br>
      <br>
      {{#if equals custom.userAgent 'Arduino/2.2.0'}}
        {{#with getHardBySessionId id}}
          <a href="/dashboard/{{_id}}" class="btn btn-sm btn-{{lastSeenClass lastSeen}}">{{> isDDPConnected ddpId=ddpId}} {{aliasname}}</a>
          <pre>
          {{JSONstringify this}}
          </pre>
        {{/with}}
      {{/if}}
    </div>
  {{/each}}

</template>