<template name="cumulativeKeys">
  <div class="content-scrollable">
    <div class="page-header">
      <h1>
        {{#with cumulKey}}
          {{#each lines}}
            {{aliasname (getKeyById key_id)}}<br>
          {{/each}}
        {{/with}}
      </h1>
    </div>

    {{> breadcrumb breadcrumbLinks}}

    <div id="tabs">
      <ul class="how-long-hour">
        <li class="float-end"><a class="js-export-excel">Export Excel</a></li>
        {{#if canDebug}}
          {{#if debug}}
            <li class="float-end"><a class="btn-primary btn-raised" href="{{pathFor 'dataKey' hard_id=hard_id keyName=name howLongHour=../howLongHour}}">Sortir du mode Debug</a></li>
          {{else}}
            <li class="float-end"><a href="{{pathFor 'dataKeyDebug' hard_id=hard_id keyName=name dateFrom=dateFrom dateTo=dateTo}}">Debug</a></li>
          {{/if}}
        {{/if}}
        <li class="{{isTabActive 24}}"><a href="{{pathFor 'cumulativeKeys' cumulsKeysId=cumulsKeysId howLongHour=24 query=query}}">24 heures</a></li>
        <li class="{{isTabActive 168}}"><a href="{{pathFor 'cumulativeKeys' cumulsKeysId=cumulsKeysId howLongHour=168 query=query}}">7 jours</a></li>
        <li class="{{isTabActive 720}}"><a href="{{pathFor 'cumulativeKeys' cumulsKeysId=cumulsKeysId howLongHour=720 query=query}}">30 jours</a></li>
        <li class="{{isTabActive 8640}}"><a href="{{pathFor 'cumulativeKeys' cumulsKeysId=cumulsKeysId howLongHour=8640 query=query}}">12 mois</a></li>
      </ul>
    </div>

    <div id="container" class="the-style" data-info="reçoit le graph"></div>
  </div>
</template>

