<template name="dataKeyDebug">
  <div class="content-scrollable">
    <div class="page-header">
      <h1>{{aliasname}}
        <small>{{aliasname hardOne}}</small>
      </h1>
      {{#with lastSeen}}
        <p class="subtitle">
          <span class="padding-5 {{this}}">Dernière donnée reçue {{formatDate this 'long'}}</span>
        </p>
      {{/with}}
    </div>

    {{> breadcrumb breadcrumbLinks}}

    <div id="tabs">
      <ul>
        <li class="float-end"><a class="btn-primary btn-raised" href="{{pathFor 'dataKey' hard_id=hard_id keyName=name}}">Sortir du mode Debug</a></li>
      </ul>
    </div>

    <form id="date-range">
      <input name="dateFrom" type="datetime-local" value="{{formatDate dateFrom "input"}}">
      <input name="dateTo" type="datetime-local" value="{{formatDate dateTo "input"}}">
      <button>send</button>
    </form>

    <table class="table">
      {{#each debugData}}
        <tr class="list-unstyled">
          {{#if isDebug}}
            <td colspan="3">
              <form id="debug-edit">
                <b><input name="date" type="datetime-local" value="{{formatDate date "input"}}"></b> <input name="valeur" value="{{valeur}}">
                <button class="btn btn-sm btn-primary"><i class="fa fa-send-o"></i></button>
              </form>
            </td>
          {{else}}
            <td><b>{{formatDate date "long"}}</b></td>
            <td>{{valeur}}</td>
            <td><a class="btn btn-sm btn-warning js-debug-edit"><i class="fa fa-edit"></i></a> <a class="btn btn-sm btn-danger js-debug-delete"><i class="fa fa-trash"></i></a></td>
          {{/if}}
        </tr>
      {{else}}
        <li class="list-unstyled m-t-50">
          <span class="the-style">Aucune info pour cette période</span>
        </li>
      {{/each}}
    </table>

    <form id="newData">
      <input name="valeur" placeholder="valeur">
      <button>ajouter</button>
    </form>

  </div>
</template>