<template name="dataKeyInfo">
  <ul>
    {{#each data}}
      <li class="list-unstyled">
        <b>{{formatDate date "long"}}</b> <span class="badge badge-primary">{{valeur}}</span>
      </li>
    {{else}}
      <li class="list-unstyled m-t-50">
        <span class="the-style">Aucune info pour cette période</span>
      </li>
    {{/each}}
  </ul>
</template>