<template name="dataKey">
  <div class="content-scrollable">
    <div class="page-header">
      <h1>{{aliasname}}
        <small>{{aliasname hardOne}}</small>
      </h1>
    </div>

    {{> breadcrumb breadcrumbLinks}}

    {{#if volatile}}
      {{> dataKeyVolatile}}
    {{else}}
      <div id="tabs">
        <ul class="how-long-hour">
          <li class="float-end"><a class="js-export-excel">Export Excel</a></li>
          {{#if canDebug}}
            {{#if debug}}
              <li class="float-end"><a class="btn-primary btn-raised" href="{{pathFor 'dataKey' hard_id=hard_id keyName=name howLongHour=../howLongHour}}">Sortir du mode Debug</a></li>
            {{else}}
              <li class="float-end"><a href="{{pathFor 'dataKeyDebug' hard_id=hard_id keyName=name dateFrom=dateFrom dateTo=dateTo}}">Debug</a></li>
            {{/if}}
          {{/if}}
          <li class="{{isTabActive 24}}"><a href="{{pathFor 'dataKey' hard_id=hard_id keyName=name howLongHour=24  query=query}}">24 heures</a></li>
          <li class="{{isTabActive 168}}"><a href="{{pathFor 'dataKey' hard_id=hard_id keyName=name howLongHour=168 query=query}}">7 jours</a></li>
          <li class="{{isTabActive 720}}"><a href="{{pathFor 'dataKey' hard_id=hard_id keyName=name howLongHour=720 query=query}}">30 jours</a></li>
          <li class="{{isTabActive 8640}}"><a href="{{pathFor 'dataKey' hard_id=hard_id keyName=name howLongHour=8640 query=query}}">12 mois</a></li>
        </ul>
      </div>

      {{#if equals style 'info'}}
        {{> dataKeyInfo}}
      {{else}}
        {{> dataKeyGraph}}
        <!--        {{> dataKeyGraphGoogle}}-->

        {{#if isKwhPriced}}
          {{edfPrice}}
        {{/if}}

        {{#if dateFrom}}
          <div class="text-center">du {{formatDate dateFrom 'full'}} au {{formatDate dateTo 'full'}}</div>
        {{/if}}
      {{/if}}
    {{/if}}
  </div>
</template>

