<template name="configurationScenarioActionAddOrEditScenarioStatus">
  <div class="mb-3">
    <label>Scenario</label>
    <select name="scenarioId" class="form-control">
      {{#each getScenarios}}
        <option value="{{_id}}">{{name}}</option>
      {{/each}}
    </select>
  </div>

  <div class="mb-3">
    <label for="scenarioStatusCheckbox">Allumé scenario (check) ou éteindre (no check)</label>
    <input id="scenarioStatusCheckbox" name="status:boolean" type="checkbox" value="true" data-unchecked-value="false" {{isChecked status}}>
  </div>
</template>