<template name="configurationRoomEdit">
  <div class="page configuration rooms">
    <div class="page-header">
      <h1>Groupes (lieus, pièces, extèrieurs...)</h1>
    </div>

    {{> breadcrumb breadcrumbLinks}}

    <a class="float-end btn btn-sm btn-primary js-button-add">Ajouter un bouton</a>
    <h2 class="mt-4">Bouttons</h2>
    {{> configurationRoomsButtons}}

    <h2 class="mt-4">Données</h2>
    {{> configurationRoomsKeys}}

    <h2 class="mt-4">Graph Multiples</h2>
    {{> configurationRoomsCumulativeKeys}}

    <h2 class="mt-4">Scénarios</h2>
    {{> configurationRoomsScenarios}}
  </div>
</template>