<template name="configurationScenariosActions">
  <div id="configuration-scenarios-events">
    <div class="page-header">
      <h1>Scénarios Actions</h1>
    </div>

    {{> breadcrumb breadcrumbLinks}}

    <!-- Nav tabs -->
    <ul id="roomsTabs" class="nav nav-tabs md-tabs mt-3" role="tablist">
      <li class="nav-item waves-effect waves-light"><a href="{{pathFor 'configurationScenariosList'}}" class="nav-link"> Scénarios</a></li>
      <li class="nav-item waves-effect waves-light"><a href="{{pathFor 'configurationScenariosEvents'}}" class="nav-link"> Événements</a></li>
      <li class="nav-item waves-effect waves-light"><a href="{{pathFor 'configurationScenariosActions'}}" class="nav-link active"> Actions</a></li>
    </ul>

    <div class="tab-content card mt-3">
      {{#if isActionsAdding}}
        <h3 class="mt-5">Ajouter une action</h3>
        {{> configurationScenarioActionAddOrEdit}}
      {{else}}
        <div class="m-3">
          <a class="clickable js-action-new">Ajouter une action</a>
        </div>
      {{/if}}

      {{#with isActionEditing}}
        <h3>Edit</h3>
        {{> configurationScenarioActionAddOrEdit}}
        {{else}}
          <table class="table the-style sortable">
            <thead>
              <tr>
                <th></th>
                <th>Nom</th>
                <th>Type</th>
                <th>Api</th>
                <th></th>
                <th width="250"></th>
              </tr>
            </thead>
            <tbody>
              {{#each getMyActions}}
                <tr data-sortable-id="{{_id}}">
                  <td><span class="material-icons-outlined handle">drag_indicator</span></td>
                  <td>{{name}} <span class="meteor-id alpha-50">{{_id}}</span></td>
                  <td>{{type}} <span class="meteor-id alpha-50">{{_id}}</span></td>
                  <td>/api/scenario/action?id={{_id}}</td>
                  <td>{{#with _id}} <a class="btn btn-sm btn-indigo js-action-test">tester l'action</a>{{/with}} </td>
                  <td class="text-right">
                    <a class="btn btn-sm btn-primary js-action-duplicate"><i class="fa fa-copy"></i></a>
                    <a class="btn btn-sm btn-warning js-action-edit"><i class="fa fa-edit"></i></a>
                    <a href="#" class="btn btn-sm btn-danger js-action-delete"><i class="fa fa-trash"></i></a>
                  </td>
                </tr>
              {{else}}
                <tr>
                  <td colspan="4">Aucune action</td>
                </tr>
              {{/each}}
            </tbody>
          </table>
      {{/with}}
    </div>
  </div>
</template>