<template name="configurationScenarioEventAddOrEdit">
  <form class="the-style mb-5">
    <div class="mb-3">
      <label>Nom</label>
      <input class="form-control" name="name" placeholder="Nom" value="{{name}}">
    </div>
    <div class="mb-3">
      <label>Evenement déclencheur</label>
      <select class="form-control" name="input">
        <option value="">-- Choisir un evenement</option>
        {{#each options}}
          <option value="{{value}}" {{selected ../input}}>{{text}}</option>
        {{/each}}
      </select>
    </div>
    {{#if evenementType 'strictly-positive' 'null' 'different' 'superior-to' 'equal-to' 'inferior-to'}}
      {{#if evenementType 'superior-to' 'equal-to' 'inferior-to'}}
        <div class="mb-3">
          <label>valeur</label>
          <input name="value" class="form-control" value="{{value}}">
        </div>
      {{/if}}
      <div class="mb-3">
        <label>Cle</label>
        <select class="form-control" name="eventCleId">
          <option value="">-- Choisir la cle</option>
          {{#each getMyKeys}}
            <option value="{{_id}}" {{myKeySelected ../eventCleId}}>{{aliasname hardOfKeyId}} - {{aliasname}}</option>
          {{/each}}
        </select>
      </div>
    {{/if}}

    {{#if evenementType 'not-all-data-on' 'not-all-data-off' 'all-data-on' 'all-data-off'}}
      <div class="mb-3">
        {{#each getMyKeys}}
          <div class="checkbox">
            <label><input name="eventCleId[]" type="checkbox" value="{{_id}}" {{myKeysSelected ../eventCleId}}> {{aliasname hardOfKeyId}} - {{aliasname}}</label>
          </div>
        {{/each}}
      </div>
    {{/if}}

    <button class="btn btn-primary">Sauvegarder</button>
    <button type="button" class="btn btn-default js-event-add-cancel">Annuler</button>
  </form>
</template>