<template name="configurationScenarioActionAddOrEdit">
  <form class="the-style mb-5">

    <div class="mb-3">
      <label>Titre</label>
      <input class="form-control" name="name" placeholder="Donnez un titre a votre action" value="{{name}}">
    </div>

    <div class="mb-3">
      <label>Type</label>
      <select class="form-control" name="type">
        {{#each options}}
          <option value="{{value}}" {{selectedType ../type}}>{{text}}</option>
        {{/each}}
      </select>
    </div>

    {{#if type 'getLastValue'}}
      <div class="mb-3">
        <label>Cle</label>
        <select class="form-control" name="cleId">
          <option value="">---</option>
          {{#each getMyKeys}}
            <option value="{{_id}}" {{isSelectedOption _id ../cleId}}>{{aliasname}}</option>
          {{/each}}
        </select>
      </div>

      <div class="mb-3">
        <label>Karotz</label>
        <select class="form-control" name="karotzId">
          <option value="">---</option>
          {{#each karotzs}}
            <option value="{{_id}}" {{isSelectedOption _id ../karotzId}}>{{aliasname}}</option>
          {{/each}}
        </select>
      </div>
    {{/if}}

    {{#if type 'doKarotz'}}
      <div class="mb-3">
        <label>Action Karotz</label>
        <input class="form-control" name="command" placeholder="/cgi-bin/..." value="{{command}}">
      </div>

      <div class="mb-3">
        <label>Karotz</label>
        <select class="form-control" name="karotzId">
          <option value="">---</option>
          {{#each karotzs}}
            <option value="{{_id}}" {{isSelectedOption _id ../karotzId}}> {{aliasname}}</option>
          {{/each}}
        </select>
      </div>
    {{/if}}

    {{#if type 'relaiON'}}
      <div class="mb-3">
        <label>Matériel</label>
        <select class="form-control js-select-relai-hard" name="hardId">
          <option value="">---</option>
          {{#each hardwares}}
            <option value="{{_id}}" {{selectedHard ../hardId}}>{{alias}}</option>
          {{/each}}
        </select>
      </div>

      {{#if isHardSelected}}
        <div class="mb-3">
          <label>Relai</label>
          <select class="form-control" name="broche">
            <option value="">---</option>
            {{#each relais}}
              <option value="{{broche}}" {{selectedBroche ../broche}}>{{broche}}</option>
            {{/each}}
          </select>
        </div>
      {{/if}}
      <input name="value" type="hidden" value="1">
    {{/if}}

    {{#if type 'relaiOFF'}}
      <div class="mb-3">
        <label>Matériel</label>
        <select class="form-control js-select-relai-hard" name="hardId">
          <option value="">---</option>
          {{#each hardwares}}
            <option value="{{_id}}" {{selectedHard ../hardId}}>{{alias}}</option>
          {{/each}}
        </select>
      </div>

      <div class="mb-3">
        <label>Relai</label>
        <select class="form-control" name="broche">
          <option value="">---</option>
          {{#each relais}}
            <option value="{{broche}}" {{selectedBroche ../broche}}>{{broche}}</option>
          {{/each}}
        </select>
      </div>
      <input name="value" type="hidden" value="0">
    {{/if}}

    {{#if type 'mhz433'}}
      <div class="mb-3">
        <label>Matériel</label>
        <select class="form-control js-select-relai-hard" name="hardId">
          <option value="">---</option>
          {{#each hardwares}}
            <option value="{{_id}}" {{selectedHard ../hardId}}>{{alias}}</option>
          {{/each}}
        </select>
      </div>

      <div class="mb-3">
        <label>Mhz433</label>
        <select class="form-control" name="mhz433_id">
          <option value="">---</option>
          {{#each mhz433}}
            <option value="{{_id}}" {{isSelectedOption _id ../mhz433_id}}>{{alias}}</option>
          {{/each}}
        </select>
      </div>
    {{/if}}

    {{#if type 'serie'}}
      <div class="mb-3">
        <label>Matériel</label>
        <select class="form-control js-select-relai-hard" name="hardId">
          <option value="">---</option>
          {{#each hardwares}}
            <option value="{{_id}}" {{selectedHard ../hardId}}>{{alias}}</option>
          {{/each}}
        </select>
      </div>

      <div class="mb-3">
        <label>Module serie</label>
        <select class="form-control" name="module">
          <option value="">---</option>
          <option value="module1" {{isSelectedOption "module1" module}}>module1</option>
          <option value="module2" {{isSelectedOption "module2" module}}>module2</option>
          <option value="module3" {{isSelectedOption "module3" module}}>module3</option>
        </select>
      </div>

      <div class="mb-3">
        <label>Cle</label>
        <input class="form-control" name="key" placeholder="radiateur1" value="{{key}}">
      </div>

      <div class="mb-3">
        <label>Valeur</label>
        <input class="form-control" name="value" placeholder="confort" value="{{value}}">
      </div>
    {{/if}}

    {{#if type 'socketSend'}}
      <div class="mb-3">
        <label>Matériel</label>
        <select class="form-control js-select-relai-hard" name="hardId">
          <option value="">---</option>
          {{#each hardwares}}
            <option value="{{_id}}" {{selectedHard ../hardId}}>{{alias}}</option>
          {{/each}}
        </select>
      </div>

      <div class="mb-3">
        <label>Mode</label>
        <input class="form-control" name="mode" placeholder="mode" value="{{mode}}">
      </div>

      <div class="mb-3">
        <label>Cle</label>
        <input class="form-control" name="key" placeholder="radiateur1" value="{{key}}">
      </div>

      <div class="mb-3">
        <label>Valeur</label>
        <input class="form-control" name="value" placeholder="confort" value="{{value}}">
      </div>
    {{/if}}

    {{#if type 'sms-free'}}
      <div class="mb-3">
        <label>Message</label>
        <input class="form-control" name="msg" placeholder="..." value="{{msg}}">
      </div>
    {{/if}}

    {{#if type 'notif-mail-once'}}
      <div class="mb-3">
        <label>Message</label>
        <input class="form-control" name="msg" placeholder="..." value="{{msg}}">
      </div>
    {{/if}}

    {{#if type 'http-request'}}
      <div class="mb-3">
        <label>Url</label>
        <input class="form-control" name="url" placeholder="..." value="{{url}}">
      </div>
    {{/if}}

    {{#if type 'scenarioStatus'}}
      {{> configurationScenarioActionAddOrEditScenarioStatus}}
    {{/if}}

    <button class="btn btn-primary">Sauvegarder</button>
    <button type="button" class="btn btn-default js-action-add-cancel">Annuler</button>
  </form>
</template>