<template name="configurationScenariosEvents">
  <div id="configuration-scenarios-events">
    <div class="page-header">
      <h1>Scénarios Evenements</h1>
    </div>

    {{> breadcrumb breadcrumbLinks}}

    <!-- Nav tabs -->
    <ul id="roomsTabs" class="nav nav-tabs md-tabs mt-3" role="tablist">
      <li class="nav-item waves-effect waves-light"><a href="{{pathFor 'configurationScenariosList'}}" class="nav-link"> Scénarios</a></li>
      <li class="nav-item waves-effect waves-light"><a href="{{pathFor 'configurationScenariosEvents'}}" class="nav-link active"> Événements</a></li>
      <li class="nav-item waves-effect waves-light"><a href="{{pathFor 'configurationScenariosActions'}}" class="nav-link"> Actions</a></li>
    </ul>

    <div class="tab-content card mt-3">
      {{#if isEventAdding}}
        <h3 class="mt-5">Ajouter un événement</h3>

        {{> configurationScenarioEventAddOrEdit}}
      {{else}}
        <div class="m-3">
          <a class="clickable js-event-add">Ajouter un événement</a>
        </div>
      {{/if}}
      {{#with isEventEditing}}
        <h3>Edit</h3>
        {{> configurationScenarioEventAddOrEdit}}
        {{else}}
          <table class="table the-style sortable">
            <thead>
              <tr>
                <th></th>
                <th>Nom</th>
                <th>Condition</th>
                <th>Valeur</th>
                <th>Cle</th>
                <th width="250"></th>
              </tr>
            </thead>
            <tbody>
              {{#each events}}
                <tr data-sortable-id="{{_id}}">
                  <td><span class="material-icons-outlined handle">drag_indicator</span></td>
                  <td>{{name}} <span class="meteor-id alpha-50">{{_id}}</span></td>
                  <td>{{eventInputText}}</td>
                  <td>{{value}}</td>
                  <td>{{#unless equals input 'cron'}}{{aliasname hardOfKeyId2}} {{aliasname cleOfId eventCleId}}{{/unless}}</td>
                  <td class="text-right">
                    <a class="btn btn-sm btn-primary js-event-duplicate"><i class="fa fa-copy"></i></a>
                    <a class="btn btn-sm btn-warning js-event-edit"><i class="fa fa-edit"></i></a>
                    <a class="btn btn-sm btn-danger js-event-delete"><i class="fa fa-trash"></i></a>
                  </td>
                </tr>
              {{else}}
                <tr>
                  <td colspan="4">Vous n'avez aucun événement pour l'instant</td>
                </tr>
              {{/each}}
            </tbody>
          </table>
      {{/with}}
    </div>
  </div>
</template>