<template name="dashboardRoom">
  <div class="room tab-pane {{activeFirst}}" id="tab-{{_id}}">
    <div class="m-t-20">
      <div class="buttons">
        {{#each buttons}}
          <div class="bloc button the-style btn-{{type}}">
            <div class="d-flex justify-content-center align-items-center title">{{#if icon}}{{{getIconTypeButton icon}}}{{/if}} <span class="mt-2">{{name}}</span></div>
            {{#if equals type 'single'}}
              {{#if action}}
                <a class="btn btn-sm btn-do-it js-button-action {{isActive on='on' classOn='active' classOff=''}}" data-commande="{{MeteorAbsoluteUrl}}api/scenario/action?id={{action}}">DO IT</a>
                {{#with getKeyById displayedKey}}
                  <div><a href="/dashboard/{{hard_id}}/{{name}}" class="bloc-current-value text-{{lastSeenClass lastData.date}}">{{> displayKeyValue}}</a></div>
                {{/with}}
              {{else}}
                <a href="{{pathFor 'configurationRoomButtonEdit' roomId=../_id buttonId=_id}}" class="text-danger"> pas d'action</a>
              {{/if}}
            {{/if}}
            {{#if equals type 'boolean'}}
              <div>
                <div class="btn-group btn-group-sm mb-2" role="group">
                  <a class="btn btn-sm btn-on js-button-action {{isActive on='on'}}" data-commande="{{MeteorAbsoluteUrl}}api/scenario/action?id={{on}}">ON</a>
                  <a class="btn btn-sm btn-off js-button-action {{isActive off='off'}}" data-commande="{{MeteorAbsoluteUrl}}api/scenario/action?id={{off}}">OFF</a>
                </div>
              </div>
              {{#with buttonsScenarios}}
                {{#if equals type 'heater'}}
                  {{#if summerMode}}
                    <a class="btn btn-sm btn-light-blue">{{#if icon}}<i class="fa {{icon}}"></i>{{/if}} été</a>
                  {{else}}
                    {{#if disabled}}
                      <a class="btn btn-sm btn-outline-light-blue js-scenario-enable">{{#if icon}}<i class="fa {{icon}}"></i>{{/if}} Manuel</a>
                    {{else}}
                      <a href="{{pathFor 'configurationScenarioUpsert' scenarioId=_id}}" class="bloc-consigne">{{getConsigne}}</a>
                      <a class="btn btn-sm btn-light-blue js-scenario-disable">{{#if icon}}<i class="fa {{icon}}"></i>{{/if}} Auto</a>
                    {{/if}}
                  {{/if}}
                {{else}}
                  <div class="btn-group btn-group-sm btn-group-scenarios mb-1" role="group">
                    {{#each this}}
                      {{#with scenario}}
                        {{#if disabled}}
                          <a class="btn btn-sm btn-outline-light-blue js-scenario-enable">{{#if icon}}<i class="fa {{icon}}"></i>{{/if}} {{../name}}</a>
                        {{else}}
                          <a class="btn btn-sm btn-light-blue js-scenario-disable">{{#if icon}}<i class="fa {{icon}}"></i>{{/if}} {{../name}}</a>
                        {{/if}}
                      {{/with}}
                    {{/each}}
                  </div>
                {{/if}}
              {{/with}}
              {{#with getKeyById displayedKey}}
                <a href="/dashboard/{{hard_id}}/{{name}}" class="bloc-current-value text-{{lastSeenClass lastData.date}}">{{> displayKeyValue}}</a>
              {{/with}}
            {{/if}}
          </div>
        {{/each}}
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="m-t-20">
      {{#each actions}}
        <a class="btn btn-indigo js-button-action" data-commande="https://www.homedoudou.fr/api/scenario/action?id={{_id}}">{{#if icon}}<i class="fa {{icon}}"></i>{{/if}} {{name}}</a>
      {{/each}}
    </div>
    <div class="m-t-20">
      {{#each keys}}
        {{> displayKey hard=(getHardOne hard_id) key=this hideHard=true}}
      {{/each}}
      <div class="clearfix"></div>
    </div>
    <div class="m-t-20">
      {{#each cumulKeys}}
        <a href="{{pathFor 'cumulativeKeys' cumulsKeysId=_id howLongHour=24}}" class="display-key">
          {{#each lines}}
            {{aliasname (getKeyById key_id)}}<br>
          {{/each}}
        </a>
      {{/each}}
      <div class="clearfix"></div>
    </div>
    <div class="m-t-20">
      {{#each scenarios}}
        {{#if disabled}}
          <a class="btn btn-outline-light-blue js-scenario-enable">{{#if icon}}<i class="fa {{icon}}"></i>{{/if}} {{name}}</a>
        {{else}}
          <a class="btn btn-light-blue js-scenario-disable">{{#if icon}}<i class="fa {{icon}}"></i>{{/if}} {{name}}</a>
        {{/if}}
      {{/each}}
      <div class="clearfix"></div>
    </div>
  </div>
</template>