<template name="dashboardRooms">
  <div id="dashboard-rooms">
    <!-- Nav tabs -->
    <ul id="roomsTabs" class="nav nav-tabs md-tabs mt-3" role="tablist">
      {{#with rooms}}
        {{> dashboardRoomsTabs}}
      {{/with}}
    </ul>

    <!-- Tab panes -->
    <div class="tab-content card mt-3">
      {{#each rooms}}
        {{> dashboardRoom}}
      {{/each}}
    </div>
    <div class="clearfix"></div>
  </div>
</template>

<template name="dashboardRoomsTabs">
  {{#each this}}
    <li class="nav-item waves-effect waves-light "><a href="#tab-{{_id}}" class="nav-link" aria-controls="tab-{{_id}}" data-bs-toggle="tab"> {{name}}</a></li>
  {{else}}
    <li class="nav-item waves-effect waves-light"><a href="{{pathFor 'configurationRooms'}}" class="nav-link">Aucun groupe affiché, verifiez votre configuration</a></li>
  {{/each}}
</template>
