<template name="configurationScenariosList">
  <div id="configuration-scenarios-list">
    <div class="page-header">
      <h1>Scénarios Liste</h1>
    </div>

    {{> breadcrumb breadcrumbLinks}}

    <!-- Nav tabs -->
    <ul id="roomsTabs" class="nav nav-tabs md-tabs mt-3" role="tablist">
      <li class="nav-item waves-effect waves-light"><a href="{{pathFor 'configurationScenariosList'}}" class="nav-link {{isActiveRoute regex='configurationScenariosList|configurationScenarioUpsert'}}"> Scénarios</a></li>
      <li class="nav-item waves-effect waves-light"><a href="{{pathFor 'configurationScenariosEvents'}}" class="nav-link {{isActiveRoute regex='configurationScenariosEvents'}}"> Événements</a></li>
      <li class="nav-item waves-effect waves-light"><a href="{{pathFor 'configurationScenariosActions'}}" class="nav-link {{isActiveRoute regex='configurationScenariosActions'}}"> Actions</a></li>
    </ul>

    <div class="tab-content card mt-3">

      <div class="m-3">
        <a href="{{pathFor 'configurationScenarioUpsert'}}">Ajouter un scénario</a>
      </div>
      <table class="table the-style sortable">
        <thead>
          <tr class="not-dragguable">
            <th></th>
            <th>Nom</th>
            <th>Type</th>
            <th></th>
            <th>Events</th>
            <th>Actions</th>
            <th>Depuis-jusqu'a</th>
            <th width="360"></th>
          </tr>
        </thead>
        <tbody>
          {{#each scenarios}}
            <tr data-sortable-id="{{_id}}" class="{{#if disabled}}alpha-50{{/if}}">
              <td><span class="material-icons-outlined handle">drag_indicator</span></td>
              <td>{{name}} <span class="meteor-id alpha-50">{{_id}}</span></td>
              <td>{{trans (concat 'scenario-' type)}}</td>

              <td>
                {{#if equals type "heater"}}
                  {{#if summerMode}}
                    <a class="btn btn-sm btn-primary js-summerMode-toggle">mode été</a>
                  {{else}}
                    <a class="btn btn-sm btn-outline-primary js-summerMode-toggle">mode été</a>
                  {{/if}}
                {{/if}}
              </td>
              {{#if equals type "free"}}
                <td>{{{eventName input}}} <span class="meteor-id alpha-50">{{input}}</span></td>
                <td>
                  {{#each output}}
                    <a class="float-end btn btn-sm btn-indigo js-action-test">tester l'action</a> {{actionName}} <span class="meteor-id alpha-50">{{this}}</span><br>
                  {{/each}}
                </td>
                <td class="text-center">{{#if fromDate}}{{fromDate}}-{{toDate}}{{/if}}</td>
              {{/if}}

              {{#if equals type "heater"}}
                <td>{{temp}} delta {{delta}} {{aliasname (getKeyById sensorId)}}</td>
                <td>
                  {{#with getAction heaterOn}}
                    <div class="padding-10">
                      <a class="float-end btn btn-sm btn-indigo js-action-test">tester l'action</a> {{actionName}} <span class="meteor-id alpha-50">{{this}}</span>
                    </div>
                  {{/with}}
                  {{#with getAction heaterOff}}
                    <div class="padding-10">
                      <a class="float-end btn btn-sm btn-indigo js-action-test">tester l'action</a> {{actionName}} <span class="meteor-id alpha-50">{{this}}</span>
                    </div>
                  {{/with}}
                </td>
                <td class="text-center">{{#each rangeDateUTC}}{{utcToLocalTime fromDate}}-{{utcToLocalTime toDate}} ({{temperature}}°)<br>{{/each}}</td>
              {{/if}}

              {{#if equals type "cron"}}
                <td>{{cronTime}}</td>
                <td>
                  {{#each output}}
                    <a class="float-end btn btn-sm btn-indigo js-action-test">tester l'action</a> {{actionName}} <span class="meteor-id alpha-50">{{this}}</span><br>
                  {{/each}}
                </td>
                <td class="text-center"></td>
              {{/if}}

              <td class="text-right">
                <a class="btn btn-sm btn-primary js-scenario-duplicate"><i class="fa fa-copy"></i></a>
                {{#if disabled}}
                  <a class="btn btn-sm btn-outline-primary js-scenario-enable">Desactivé</a>
                {{else}}
                  <a class="btn btn-sm btn-primary js-scenario-disable">Activé</a>
                {{/if}}
                <a href="{{pathFor 'configurationScenarioUpsert' scenarioId=_id}}" class="btn btn-sm btn-warning js-scenario-edit"><i class="fa fa-edit"></i></a>
                <a class="btn btn-sm btn-danger js-scenario-delete"><i class="fa fa-trash"></i></a>
              </td>
            </tr>
          {{else}}
            <tr>
              <td colspan="4">Vous n'avez aucun scénario pour l'instant</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</template>