<template name="configurationScenarioUpsert">
  <div class="page-header">
    {{#if _id}}
      <h1>Scenario modification</h1>
    {{else}}
      <h1>Scenario ajout</h1>
    {{/if}}
  </div>
  {{> breadcrumb breadcrumbLinks}}
  <!-- Nav tabs -->
  <ul id="roomsTabs" class="nav nav-tabs md-tabs mt-3" role="tablist">
    <li class="nav-item waves-effect waves-light"><a href="{{pathFor 'configurationScenariosList'}}" class="nav-link {{isActiveRoute regex='configurationScenariosList|configurationScenarioUpsert'}}"> Scénarios</a></li>
    <li class="nav-item waves-effect waves-light"><a href="{{pathFor 'configurationScenariosEvents'}}" class="nav-link {{isActiveRoute regex='configurationScenariosEvents'}}"> Événements</a></li>
    <li class="nav-item waves-effect waves-light"><a href="{{pathFor 'configurationScenariosActions'}}" class="nav-link {{isActiveRoute regex='configurationScenariosActions'}}"> Actions</a></li>
  </ul>
  <div class="tab-content card mt-3">
    <form class="the-style">
      <div class="mb-3">
        <label>Nom {{#if isWebmaster}}{{> onlyWebmaster}}{{_id}}{{/if}}</label>
        <input class="form-control" name="name" placeholder="Nom" value="{{name}}">
      </div>
      <div class="mb-3">
        <label>Type</label>
        <select class="form-control" name="type">
          <option value=""> -- Choisir le type</option>
          {{#each getScenarioType}}
            <option value="{{type}}" {{isSelectedOption type ../type}}> {{text}}</option>
          {{/each}}
        </select>
      </div>
      {{#if isType 'free'}}
        {{> configurationScenarioAddOrEditFree}}
      {{/if}}
      {{#if isType 'heater'}}
        {{> configurationScenarioAddOrEditHeater}}
      {{/if}}
      {{#if isType 'cron'}}
        {{> configurationScenarioAddOrEditCron}}
      {{/if}}
      <button class="btn btn-primary">Sauvegarder</button>
      <a href="{{pathFor 'configurationScenariosList'}}" class="btn btn-default">Annuler</a>
    </form>
  </div>
</template>