<template name="mhz433ListenOnOff">
  <button class="btn btn-sm btn-secondary btn-toggle {{#if listening433}}active{{/if}}" data-settings="js-rx-433" data-bs-toggle="button" aria-pressed="true"><span class="handle"></span></button>
  Ecoute 433Mhz
</template>