<template name="configurationNotifsHardBoot">
  <h2>Boot</h2>
  <div class="m-b-10">
    <button class="btn btn-sm btn-secondary btn-toggle {{isUserSettingsActive 'notifHardBoot'}}" data-settings="notifHardBoot" data-bs-toggle="button" aria-pressed="true" autocomplete="off"><span class="handle"></span></button>
    Envoyer une notification au boot d'un Matériel
  </div>

</template>