<template name="configurationNotifsFree">

  <h2 class="mt-5">SMS FREE</h2>

  <div class="mb-4">
    Vous pouvez activer l'option notifications free sur votre compte Free mobile, https://mobile.free.fr
  </div>

  {{#with config}}
    <form class="the-style">
      <div class="mb-3">
        <label for="login">Identifiant</label>
        <input class="form-control" name="login" value="{{login}}" id="login">
      </div>
      <div class="mb-3">
        <label for="key">Clé d'identification au service</label>
        <input class="form-control" name="key" value="{{key}}" id="key">
      </div>
      <div class="mb-3">
        <button class="btn btn-primary">Valider</button>
        {{#if login}}
          {{#if key}}
            <button class="btn btn-primary js-test">Envoyer un SMS de test.</button>
          {{/if}}
        {{/if}}
      </div>
    </form>
  {{/with}}
</template>