<template name="configurationNotifsMail">
    <h2 class="mt-5">Mails</h2>
    <div class="m-b-10">
        <button class="btn btn-sm btn-secondary btn-toggle {{isUserSettingsActive 'notifByEmail'}}" data-settings="notifByEmail" data-bs-toggle="button" aria-pressed="true" autocomplete="off"><span class="handle"></span></button>
        Envoyer les notifs par mail
    </div>

    {{#each mailOnce}}
    <div>Scenario action mail once : {{name}} <a class="btn btn-sm btn-primary js-reset-mail-once">reset</a></div>
    {{/each}}
</template>