<template name="configurationNotifs">
  <div id="configuration-free">
    <div class="page-header">
      <h1>Notifications</h1>
    </div>

    {{> breadcrumb breadcrumbLinks}}

    <!-- envoie au boot-->
    {{> configurationNotifsHardBoot}}

    <!-- mails-->
    {{> configurationNotifsMail}}

    <!-- free-->
    {{> configurationNotifsFree}}

    <!-- web-->
    {{> configurationNotifsWeb}}


  </div>
</template>