<template name="configurationNotifsWeb">
  <h2 class="mt-5">Notifications WEB</h2>
  {{#if notifPermission}}
    <button class="btn btn-danger js-notifs-web-cancel">
      Ne plus recevoir les notifs web
    </button>
  {{else}}
    <button class="btn btn-primary js-notifs-web">
      Recevoir les notifs web
    </button>
  {{/if}}
  {{#if isWebmaster}}
    <div class="card mt-5">
      {{> onlyWebmaster}}
      <table class="table">
        <thead>
          <tr>
            <th>User</th>
            <th class="d-none d-md-table-cell">Created</th>
            <th class="d-none d-md-table-cell">Expiration</th>
            <th class="d-none d-md-table-cell">Last</th>
            <th class="d-none d-md-table-cell">Msg</th>
            <th>Status</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {{#each subs}}
            <tr>
              <td>{{user.username}}{{#unless user}}{{_id}}{{/unless}}</td>
              <td class="d-none d-md-table-cell">{{formatDate createdAt 'ago'}}</td>
              <td class="d-none d-md-table-cell">{{expirationTime}}</td>
              <td class="d-none d-md-table-cell">{{formatDate lastMessage.date 'ago'}}</td>
              <td class="d-none d-md-table-cell">{{#if lastMessage.payload}}{{JSONstringify lastMessage.payload}}{{/if}}</td>
              <td>{{lastMessage.status}}</td>
              <td>
                <button class="btn btn-primary btn-sm mb-3 js-push-msg">Push test</button>
              </td>
              <td>
                <button class="btn btn-danger btn-sm mb-3 js-remove-sub"><i class="fa fa-trash"></i></button>
              </td>
            </tr>
          {{/each }}
        </tbody>
      </table>
    </div>
  {{/if}}
</template>