<template name="karotz">

  <div class="actions-karotz panel-group" id="accordion" role="tablist" aria-multiselectable="true">

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a role="button" data-bs-toggle="collapse" data-bs-parent="#accordion" href="#collapseApi" aria-expanded="true" aria-controls="collapseApi">
            Api
          </a>
        </h4>
      </div>
      <div id="collapseApi" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          <a class="js-command" data-command="/cgi-bin/status">/cgi-bin/status</a>
          <a class="js-command" data-command="/cgi-bin/get_free_space">/cgi-bin/get_free_space</a>
          <a class="js-command" data-command="/cgi-bin/wakeup">/cgi-bin/wakeup</a>
          <a class="js-command" data-command="/cgi-bin/wakeup?silent=1">/cgi-bin/wakeup?silent=1</a>
          <a class="js-command" data-command="/cgi-bin/sleep">/cgi-bin/sleep</a>
          <a class="js-command" data-command="/cgi/bin/sound_list">/cgi/bin/sound_list</a>
          <a class="js-command" data-command="/cgi-bin/sound?id=flush">/cgi-bin/sound?id=flush</a>
          <a class="js-command" data-command="/cgi-bin/leds?color=00FF00">/cgi-bin/leds?color=00FF00</a>
          <a class="js-command" data-command="/cgi-bin/leds?pulse=1&color=00FF00&speed=700&color2=0000FF">/cgi-bin/leds?pulse=1&color=00FF00&speed=700&color2=0000FF</a>
          <a class="js-command" data-command="/cgi-bin/sound?url=http://broadcast.infomaniak.net:80/start-sud-high.mp3">/cgi-bin/sound?url=http://broadcast.infomaniak.net:80/start-sud-high.mp3</a>
          <a class="js-command" data-command="/cgi-bin/stopsound">/cgi-bin/stopsound</a>
          <a class="js-command" data-command="/cgi-bin/tts?voice=1&text=Bonjour mon choux&nocache=0">/cgi-bin/tts?voice=1&text=Bonjour mon choux&nocache=0</a>
          <a class="js-command" data-command="/cgi-bin/ears?left=0&right=0&noreset=1">/cgi-bin/ears?left=0&right=0&noreset=1</a>
          <a class="js-command" data-command="/cgi-bin/ears_reset">/cgi-bin/ears_reset</a>
          <a class="js-command" data-command="/cgi-bin/ears_random">/cgi-bin/ears_random</a>
          <div class="m-t-20">
            <div class="input-group">
              <input name="action" type="text" class="form-control" placeholder="Commande personalisé">
              <span class="input-group-btn"><button class="btn btn-default js-send-action " type="button">Envoyer</button></span>
            </div>
          </div>

          <div class="m-t-50">Pour plus de commande voir, <a href="http://www.openkarotz.org/api/">www.openkarotz.org/api</a></div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingRadio">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-bs-toggle="collapse" data-bs-parent="#accordion" href="#collapseRadio" aria-expanded="false" aria-controls="collapseRadio">
            &#128251; Radio
          </a>
        </h4>
      </div>
      <div id="collapseRadio" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingRadio">
        <div class="panel-body">

          <div id="toolbar" class="ui-widget-header ui-corner-all">
            <select id="cbx_stream" class="form-control" name="stream">
              {{#each radios}}
                <option value="{{url}}">{{name}}</option>
              {{/each}}
            </select>
            <button id="btn_radio_play" title="Play sound" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only" role="button" aria-disabled="false"><span class="ui-button-icon-primary ui-icon ui-icon-play"></span><span class="ui-button-text">play</span></button>
            <button class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only js-command" data-command="/cgi-bin/stopsound" role="button" aria-disabled="false" title="Stop sound">
              <span class="ui-button-icon-primary ui-icon ui-icon-stop"></span><span class="ui-button-text">stop</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTTS">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-bs-toggle="collapse" data-bs-parent="#accordion" href="#collapseTTS" aria-expanded="false" aria-controls="collapseTTS">
            Parler
          </a>
        </h4>
      </div>
      <div id="collapseTTS" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTTS">
        <div class="panel-body">

          <div class="mb-3">
            <label for="inputTTS">Que voulez-vous dire?</label>
            <input name="tts" type="text" class="form-control" id="inputTTS" placeholder="un mot, une phrase...">
            <button class="js-send-tts btn btn-primary">Envoyer</button>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-bs-toggle="collapse" data-bs-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Camera
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
          <p>
            <button class="js-webcam btn btn-primary">Webcam</button>
            <button class="js-get-photos btn btn-primary">Get photos</button>
            <button class="js-take-photo btn btn-warning">Take photo</button>
          </p>

          {{#if webcam}}
            <iframe src="http://{{ip}}:{{port}}/cgi-bin/webcam" width="640" height="480" style="border:none;"></iframe>
          {{/if}}

          {{#each photos}}
            <a href="http://{{../ip}}:{{../port}}/snapshots/{{id}}" target="_blank"><img src="http://{{../ip}}:{{../port}}/snapshots/{{id}}" width="100"></a>
          {{/each}}
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingThree">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-bs-toggle="collapse" data-bs-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Couleurs
          </a>
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="panel-body">

          <div id="color-picker">
            <canvas id="picker" var="5" width="300" height="300"></canvas>
            <div>
              <label>#</label>
              <input type="text" id="hexVal"/>
              <button class="js-command btn btn-primary" data-command="/cgi-bin/leds?pulse=1">Led Pulse</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingEars">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-bs-toggle="collapse" data-bs-parent="#accordion" href="#collapseEars" aria-expanded="false" aria-controls="collapseEars">
            Oreilles
          </a>
        </h4>
      </div>
      <div id="collapseEars" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEars">
        <div class="panel-body">
          <p>
            <button class="btn btn-primary js-command" data-command="/cgi-bin/ears_reset">Reset</button>
            <button class="btn btn-primary js-command" data-command="/cgi-bin/ears_random">Random</button>
          </p>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingUpdate">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-bs-toggle="collapse" data-bs-parent="#accordion" href="#collapseUpdate" aria-expanded="false" aria-controls="collapseUpdate">
            Update
          </a>
        </h4>
      </div>
      <div id="collapseUpdate" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingUpdate">
        <div class="panel-body">
          <button class="js-update btn btn-warning" data-command="{{cmdUpdate}}">Update</button>
        </div>
      </div>
    </div>

  </div>

  <p>
    <button class="js-command btn btn-primary" data-command="/cgi-bin/status">Get status</button>
  </p>
  <h4>Retour JSON</h4>
  <textarea class="form-control" rows="6"></textarea>

</template>