<template name="forumShow">
  <div class="page forum">
    {{#with post}}
      {{> breadcrumb breadcrumbLinks}}

      <div class="page-header">
        <h1>Forum</h1>
      </div>

      <ul class="list-unstyled">
        <li class="the-style">
          <p class="float-end">{{formatDate created "short"}}</p>
          <h5>{{title}}</h5>

          <div class="question-text">
            {{body}}
          </div>
        </li>
      </ul>
    {{/with}}
    <ul class="list-unstyled">
      {{#each postsReponse}}
        <li class="the-style">
          <p class="float-end">{{formatDate created "short"}}</p>
          <h5>par {{username}}</h5>

          <div class="reponse-text">
            {{{body}}}
          </div>
          <p>
            <button class="btn btn-primary js-reponse-submit">Modifier</button>
          </p>
        </li>
      {{/each}}
    </ul>
    {{> forumRepondre}}
  </div>
</template>

<template name="forumRepondre">
  {{#autoForm collection="ForumReponse" id="" type="insert"}}
    <fieldset class="forum-add-answer">
      <legend><h4>Répondre</h4></legend>
      {{> afQuickField name='body'}}
      {{> afQuickField name="parent_id" value=post_id}}
    </fieldset>
    <button type="submit" class="btn btn-primary">Envoyer</button>
  {{/autoForm}}
</template>
