<template name="forumAdmin">
  <div class="page forum-admin">

    {{> breadcrumb breadcrumbLinks}}

    <div class="page-header">
      <h1>Admin Forum</h1>
    </div>

    <div class="row">
      <div class="col-sm-10 offset-1">

      </div>
    </div>
  </div>
</template>
