<template name="forum">
  <div class="page forum">

    {{> breadcrumb breadcrumbLinks}}

    <div class="page-header">
      <h1>Forum</h1>
    </div>

    <div class="row">
      <div class="col-sm-10 offset-1">
        <ul class="list-unstyled">
         {{#each posts}}
           <li class="the-style witha">
             <a href="/forum/{{_id}}">
               <h5>{{title}}</h5>
             </a>
           </li>
         {{/each}}
        </ul>
       {{> form}}
      </div>
    </div>
  </div>
</template>

<template name="form">
 <!--{{#autoForm collection="ForumQuestion" id="" type="insert"}}-->
   <!--<fieldset class="forum-add-answer">-->
     <!--<legend><h4>Ajouter une question</h4></legend>-->
    <!--{{> afQuickField name='title'}}-->
    <!--{{> afQuickField name='body' rows=6}}-->
   <!--</fieldset>-->
   <!--<button type="submit" class="btn btn-primary">Envoyer</button>-->
 <!--{{/autoForm}}-->
</template>
