<template name="configurationRoomButtonEdit">
  <div class="page configuration rooms">
    <div class="page-header">
      <h1>Groupes (lieus, pièces, extèrieurs...)</h1>
    </div>
    {{> breadcrumb breadcrumbLinks}}
    <form id="form-{{button._id}}">
      <div class="row">
        <div class="col">Nom</div>
        <div class="col">Type</div>
        <div class="col">Actions</div>
        <div class="col">Couleur bouton</div>
        <div class="col">Valeur affichée</div>
        <div class="col">Groupe</div>
        <div class="col"></div>
      </div>
      <div class="the-style">
        <div class="mb-3">
          <label>Nom</label>
          <input name="name" value="{{button.name}}" class="form-control" placeholder="nom">
        </div>
        <div class="mb-3">
          <label>Icon</label>
          <select name="icon" class="form-control">
            <option value="">choose</option>
            <option value="heater" {{isSelectedOption 'heater' ../button.icon}}>chauffage</option>
            <option value="light" {{isSelectedOption 'light' ../button.icon}}>lumière</option>
          </select>
        </div>
        <div class="mb-3">
          <label>Type</label>
          <select name="type" class="form-control">
            <option value="">-- Choisir type --</option>
            {{#each getButtonsTypes}}
              <option value="{{type}}" {{isSelectedOption type ../button.type}}>{{name}}</option>
            {{/each}}
          </select>
        </div>

        {{#if equals button.type "single"}}
          <div class="mb-3">
            <label>Action (<a href="{{pathFor 'configurationScenariosActions'}}">creer une action</a>)</label>
            <select name="action" class="form-control">
              <option value="">-- Choisir ACTION --</option>
              {{#each getMyActions}}
                <option value="{{_id}}" {{isSelectedOption _id ../button.action}}>{{name}}</option>
              {{/each}}
            </select>
          </div>
        {{/if}}

        {{#if equals button.type "boolean"}}
          <div class="mb-3">
            <label>Action on (<a href="{{pathFor 'configurationScenariosActions'}}">creer une action</a>)</label>
            <select name="on" class="form-control">
              <option value="">-- Choisir action on --</option>
              {{#each getMyActions}}
                <option value="{{_id}}" {{isSelectedOption _id ../button.on}}>{{name}}</option>
              {{/each}}
            </select>
          </div>
          <div class="mb-3">
            <label>Action off (<a href="{{pathFor 'configurationScenariosActions'}}">creer une action</a>)</label>
            <select name="off" class="form-control">
              <option value="">-- Choisir action off --</option>
              {{#each getMyActions}}
                <option value="{{_id}}" {{isSelectedOption _id ../button.off}}>{{name}}</option>
              {{/each}}
            </select>
          </div>
        {{/if}}

        {{#if equals button.type "free"}}
          <div class="mb-3">
            <label>Nombre d'actions</label>
            <input name="numberOfActions" type="number" class="form-control" value="{{button.numberOfActions}}">
          </div>
          {{#each numberOfActions}}
            <div class="mb-3">
              <label>Action(<a href="{{pathFor 'configurationScenariosActions'}}">creer une action</a>)</label>
              <select name="actions[]" class="form-control">
                <option value="">-- Choisir action --</option>
                {{#each getMyActions}}
                  <option value="{{_id}}" {{isActionSelected i=../@index id=_id a=../../button.actions}}>{{name}}</option>
                {{/each}}
              </select>
            </div>
          {{/each}}
        {{/if}}

        <div class="mb-3">
          <label>Couleur bouton</label>
          <select name="backId" class="form-control">
            <option value="">-- Retour --</option>
            {{#each getMyKeys}}
              <option value="{{_id}}" {{isSelectedOption _id ../button.backId}}>{{aliasname (getHardOneByKeyId _id)}} {{aliasname}}</option>
            {{/each}}
          </select>
        </div>
        <div class="mb-3">
          <label>Valeur affichée</label>
          <select name="displayedKey" class="form-control">
            <option value="">-- Valeur --</option>
            {{#each getMyKeys}}
              <option value="{{_id}}" {{isSelectedOption _id ../button.displayedKey}}>{{aliasname (getHardOneByKeyId _id)}} {{aliasname}}</option>
            {{/each}}
          </select>
        </div>
        <div class="mb-3">
          <label>Groupe</label>
          <select name="rooms[]" class="rooms form-control" multiple>
            <option value="">--</option>
            {{#each getMyRooms}}
              <option value="{{_id}}" {{isSelectedOption _id ../button.rooms}}>{{name}}</option>
            {{/each}}
          </select>
        </div>
        <div class="mb-3">
          <a class="btn btn-sm btn-danger js-delete float-end"><i class="fa fa-trash"></i></a>
          <a class="btn btn-sm btn-primary js-submit"><i class="fa fa-save"></i> Sauvegarder</a>
          <a href="{{pathFor 'configurationRoomEdit' _id=room._id}}" class="btn btn-sm btn-light"><i class="fa fa-close"></i> Annuler</a>
        </div>
      </div>
    </form>
  </div>
</template>
<template name="configurationRoomsSelect">
  {{#if isEditing}}
    {{> configurationRoomsSelectEditing}}
  {{else}}
    {{#each roomId in rooms}}
      <label class="badge badge-default">{{getRoomName roomId}}</label>
    {{/each}}
  {{/if}}
</template>
<template name="configurationRoomsSelectEditing">
  <select name="rooms[]" class="form-control" form="form_{{_id}}" multiple>
    <option value="">--</option>
    {{#each getMyRooms}}
      <option value="{{_id}}" {{isSelectedOption _id ../rooms}}>{{name}}</option>
    {{/each}}
  </select>
</template>