<template name="configurationRoomsButtons">
  <div class="tab-content card pt-5 room" id="tab-buttons">
    <div class="row text-center">
      <div class="col">Nom</div>
      <div class="col">Type</div>
      <div class="col">Actions</div>
      <div class="col">Couleur bouton</div>
      <div class="col">Valeur affichée</div>
      <div class="col">Groupe</div>
      <div class="col"></div>
    </div>
    <div class="sortable">
      {{#each getMyButtons _id}}
        <div class="row text-center the-style" data-sortable-button_id="{{_id}}">
          <div class="col text-left"><label class="badge badge-default mr-4">{{order}}</label> {{name}}</div>
          <div class="col">
            {{getButtonsTypesName type}}
          </div>
          <div class="col">
            {{#if equals type "single"}}
              {{#with getAction action}}
                ACTION : {{name}}<br>
              {{/with}}
            {{/if}}
            {{#if equals type "boolean"}}
              {{#with getAction on}}
                ON : {{name}}<br>
              {{/with}}
              {{#with getAction off}}
                OFF : {{name}}
              {{/with}}
            {{/if}}
          </div>

          <div class="col">
            {{#with getKeyById backId}}
              {{aliasname}}
            {{/with}}
          </div>

          <div class="col">
            {{#with getKeyById displayedKey}}
              {{aliasname}}
            {{/with}}
          </div>

          <div class="col">
            {{#each roomId in rooms}}
              <label class="badge badge-default">{{getRoomName roomId}}</label>
            {{/each}}
          </div>

          <div class="col text-right">
            <a href="{{pathFor 'configurationRoomButtonEdit' roomId=../_id buttonId=_id}}" class="btn btn-sm btn-warning float-end js-button-edit"><i class="fa fa-edit"></i></a>
          </div>
        </div>
      {{else}}
        <div class="the-style">Aucun button</div>
      {{/each }}
    </div>
  </div>
</template>