<template name="configurationBootsServer">
  <div class="page-header">
    <h1>Boots {{aliasname}}</h1>
  </div>

  <div class="page configuration boots-server">

    {{> breadcrumb breadcrumbLinks}}

    <div id="tabs">
      <ul class="how-long-hour">
        <li class="{{isTabActive 24}}"><a href="{{pathFor 'configurationBootsServer' hard_id=_id howLongHour=24  query=query}}">24 heures</a></li>
        <li class="{{isTabActive 168}}"><a href="{{pathFor 'configurationBootsServer' hard_id=_id howLongHour=168 query=query}}">7 jours</a></li>
        <li class="{{isTabActive 720}}"><a href="{{pathFor 'configurationBootsServer' hard_id=_id  howLongHour=720 query=query}}">30 jours</a></li>
        <li class="{{isTabActive 8640}}"><a href="{{pathFor 'configurationBootsServer' hard_id=_id howLongHour=8640 query=query}}">12 mois</a></li>
      </ul>
    </div>

    {{> configurationBootsServerGraph}}
  </div>
</template>

<template name="configurationBootsServerGraph">
  <div id="container" class="the-style" data-info="reçoit le graph"></div>
</template>