<template name="configurationBootsArchived">
  <div class="page-header">
    <h1>Boots archivés</h1>
  </div>

  <div id="boots">

    {{> breadcrumb breadcrumbLinks}}

    <ul class="list-unstyled">
      {{#each boots}}
        <li class="the-style {{#if isArchived}}archived{{/if}}">
          <div class="float-end"><span class="date">{{formatDate date "long"}}</span> <span class="badge badge-primary" data-livestamp="{{milli2second}}"></span></div>
          {{#if isArchived}}
            <span class="badge badge-warning">Archivé</span>
          {{else}}
            {{#if isWebmaster}}
              <button class="btn btn-sm btn-danger js-del-boot"><i class="fa fa-trash"></i></button>
            {{/if}}
          {{/if}}
          <a href="{{pathFor 'configurationHardwareDevices'}}" class="btn btn-sm btn-primary">{{alias}}</a>
          {{#unless isArchived}}
            <ul class="list-unstyled m-l-40">
              {{#each boot}}
                <div>{{{bootLine}}}</div>
              {{/each}}
            </ul>
          {{/unless}}
        </li>
      {{/each}}
    </ul>
  </div>
</template>
