<template name="configuration">
  <div class="page-header">
    <h1>Configuration</h1>
  </div>

  <div class="page configuration">
    {{> breadcrumb breadcrumbLinks}}

    <h2 class="">Pour mon compte</h2>

    <div class="m-b-10">
      <button class="btn btn-sm btn-secondary btn-toggle {{isUserSettingsActive 'groupBoard'}}" data-settings="groupBoard" data-bs-toggle="button" aria-pressed="true" autocomplete="off"><span class="handle"></span></button>
      Tableau de bord en mode <a href="{{pathFor 'configurationRooms'}}">Groupes</a>
    </div>

    <div class="m-b-10">
      <button class="btn btn-sm btn-secondary btn-toggle {{isUserSettingsActive 'hideHome'}}" data-settings="hideHome" data-bs-toggle="button" aria-pressed="true" autocomplete="off"><span class="handle"></span></button>
      Cacher la page d'accueil
    </div>

    <div class="m-b-10">
      <button class="btn btn-sm btn-secondary btn-toggle {{isUserSettingsActive 'hideShared'}}" data-settings="hideShared" data-bs-toggle="button" aria-pressed="true" autocomplete="off"><span class="handle"></span></button>
      Cacher les matériels partagés
    </div>

    <div class="m-b-10">
      <button class="btn btn-sm btn-secondary btn-toggle {{isUserSettingsActive 'hidePublic'}}" data-settings="hidePublic" data-bs-toggle="button" aria-pressed="true" autocomplete="off"><span class="handle"></span></button>
      Cacher les matériels publics
    </div>

    <div class="m-b-10">
      <button class="btn btn-sm btn-secondary btn-toggle {{isUserSettingsActive 'jeedom'}}" data-settings="jeedom" data-bs-toggle="button" aria-pressed="true" autocomplete="off"><span class="handle"></span></button>
      Utilisation Jeedom
    </div>
    {{#if isUserSettingsActive 'jeedom'}}
      <div class="m-l-40">
        <div class="">
          <label for="id-jeedom">Identifiant Jeedom</label>
          <input name="settings-userid" id="id-jeedom" data-settings="jeedomUserId" class="m-l-20 form-control" placeholder="Identifiant Jeedom" value="{{settings.jeedomUserId}}">
        </div>
        <div class="">
          <label for="ip-jeedom">IP Jeedom</label>
          <input name="settings-userid" id="ip-jeedom" data-settings="jeedomBoxIp" class="m-l-20 form-control" placeholder="IP Jeedom" value="{{settings.jeedomBoxIp}}">
        </div>
      </div>
    {{/if}}

    <div class="m-b-10">
      <button type="button" class="btn btn-sm btn-secondary btn-toggle {{isUserSettingsActive 'domoticz'}}" data-settings="domoticz" data-bs-toggle="button" aria-pressed="true" autocomplete="off"><span class="handle"></span></button>
      Utilisation Domotics
    </div>
    {{#if isUserSettingsActive 'domoticz'}}
      <div class="m-l-40">
        <div class="">
          <label for="id-domoticz">Identifiant Domoticz</label>
          <input name="settings-userid" id="id-domoticz" data-settings="domoticzUserId" class="m-l-20 form-control" placeholder="Identifiant Domotics" value="{{settings.domoticzUserId}}">
        </div>
        <div class="">
          <label for="ip-domoticz">IP Domoticz</label>
          <input name="settings-userid" id="ip-domoticz" data-settings="domoticzBoxIp" class="m-l-20 form-control" placeholder="IP Domoticz" value="{{settings.domoticzBoxIp}}">
        </div>
      </div>
    {{/if}}

    <h2 class="mt-5">Seulement cet appareil</h2>
    <div class="m-b-10">
      <button class="btn btn-sm btn-secondary btn-toggle {{isTabletMode}}" data-settings="tabletMode_{{hardwareId}}" data-bs-toggle="button" aria-pressed="true" autocomplete="off"><span class="handle"></span></button>
      Mode tablette
    </div>
  </div>
</template>