<template name="configurationHardwareAdd">
  <div class="page configuration hardware">
    <div class="page-header">
      <h1> Ajouter un Matériel</h1>
    </div>

    {{> breadcrumb breadcrumbLinks}}

    <div class="the-style p-4">
      <div class="text-info mb-2">Step 0</div>
      {{#if addhardwarestep '0'}}
        <h4>Choisissez le type de matériel</h4>

        <form>
          <select name="type" class="form-control">
            {{#each hardwaresTypes}}
              <option value="{{value}}">{{text}}</option>
            {{/each}}
          </select>
          <button class="btn btn-primary pad-l-20 js-step-0">Ajouter</button>
        </form>
      {{else}}
        <h4>Type de matériel</h4>
        {{arduinoType}}
      {{/if}}
    </div>

    {{#if addhardwarestep '1'}}
      <div class="the-style p-4">
        <div class="text-info mb-2">Step 1</div>
        {{#if hardwareType 'karotz'}}
          <h3>Ajouter un karotz</h3>

          <p>Entrez l'ip publique du reseau où est connecté le lapin</p>

          <div class="oneHardware">
            <div class="mb-3">
              <label class="" for="addHardware">IP</label>
              <input name="ip" class="form-control" value="{{ipPublique}}" placeholder="Entrez l'ip public de votre modem/box, votre ip: {{ipPublique}}">
            </div>
            <button class="btn btn-sm btn-primary js-step-1">Valider l'ip</button>
          </div>
        {{/if}}

        {{#if hardwareType 'arduinodoudou'}}
          <h2>Version SOCKET</h2>
          <p>Votre identifiant utilisateur <span class="badge badge-info">{{currentUser._id}}</span> à rentrer dans la variable IDuser du code arduino avant la compilation</p>

          <p>Une fois votre code compilé et votre arduino en attente, il devrait apparaitre ci-dessous avec son adresse locale associé.</p>

          {{#each blankArduino}}
            <div class="bloc-in">
              <div><span class="badge badge-info">{{ipAddr}}</span> <span class="badge badge-info">{{local_ip}}</span> <span class="badge badge-info">{{version}}</span> <span class="badge badge-info">{{name}}</span></div>
              <div><a class="d-inline-block m-t-20 claim">Envoyer une nouvelle configuration</a></div>
              {{#each oldConfig}}
                {{#with session=.. hard=this}}
                  <div><a class="d-inline-block m-t-20 claim-old">Envoyer cette ancienne configuration</a> {{aliasname hard}} {{> isDDPConnected}}</div>
                {{/with}}
              {{/each}}
            </div>
          {{else}}
            <div class="bloc-in">
              Aucun arduino vierge détecté.
            </div>
          {{/each}}

          <h2>Version HTTP</h2>
          <p>Entrez l'ip publique du reseau où est connecté le matériel</p>

          <div class="oneHardware">
            <div class="mb-3">
              <label class="" for="addHardware">IP</label>
              <input name="ip" class="form-control" value="{{ipPublique}}" placeholder="Entrez l'ip public de votre modem/box, votre ip public: {{ipPublique}}">
            </div>
            <button class="btn btn-sm btn-primary js-step-1">Valider l'ip</button>
          </div>
        {{/if}}
      </div>
    {{/if}}

    {{#if addhardwarestep '2'}}
      <div class="the-style p-4">
        <div class="text-info mb-2">Step 2</div>
        <p>Entrez le port par lequel on accede au matériel</p>

        <div class="mb-3">
          <label class="" for="addHardware">PORT</label>
          <input name="port" class="form-control" placeholder="Entrez le port d'access a votre matériel">
          <button class="btn btn-primary pad-l-20 js-step-2">Valider le port</button>
        </div>
      </div>
    {{/if}}

    {{#if addhardwarestep '3'}}
      <div class="the-style p-4">
        <div class="text-info mb-2">Step 3</div>
        <p>Patientez, tentative de dialogue avec le matériel</p>
      </div>
    {{/if}}
  </div>

</template>