<template name="configurationHardwareLogs">
  {{#with hardware}}
    <div class="page-header">
      <h1>Logs {{aliasname}}</h1>
    </div>
    <div class="page configuration hardware-logs">
      {{> breadcrumb breadcrumbLinks}}
      <div class="the-style">
        <div id="boots">
          <div class="float-end">
            <a href="{{pathFor 'configurationBootsServer' hard_id=_id howLongHour=24}}" class="btn btn-sm btn-primary">Boots server</a> <a href="{{pathFor 'configurationBootsArchived' hard_id=_id}}" class="btn btn-sm btn-primary">Voir les archives</a>
          </div>
          <h2>Boots</h2>
          {{#with boots}}
            <div class="float-end">
              {{#if isWebmaster}}
                {{> onlyWebmaster}}
                <button class="btn btn-sm btn-danger js-del-boot"><i class="fa fa-trash"></i></button>
              {{/if}}
              <span class="date">{{formatDate date "long"}}</span> <span class="badge badge-primary" data-livestamp="{{milli2second}}"></span>
            </div>
            {{#each boot}}
              <div>{{{bootLine}}}</div>
            {{else}}
              Aucune ligne de boot
            {{/each}}
            {{else}}
              Aucune infos sur le boot
          {{/with}}
        </div>
        <div id="states">
          <div class="float-end"><a class="js-ask-state btn btn-sm btn-warning">demander</a></div>
          <h2 class="mt-5">Etats </h2>
          {{#with states}}
            <div class="float-end">
              <span class="date">{{formatDate createdAt "long"}}</span> <span class="badge badge-primary" data-livestamp="{{milli2second}}"></span>
            </div>
            {{#each state ..}}
              <div>{{{stateLine}}}</div>
            {{else}}
              Aucune ligne d'état
            {{/each}}
            {{else}}
              Aucune infos d'état
          {{/with}}
        </div>
        {{#if hasBugs}}
          <h2>Bugs</h2>
          <ul class="list-unstyled">
            {{#each bugs}}
              <li>
                {{{bugLine}}}
                <span class="date">{{formatDate createdAt "long"}}</span> <span class="badge badge-primary" data-livestamp="{{milli2second}}"></span>
              </li>
            {{/each}}
          </ul>
        {{/if}}
      </div>
    </div>
  {{/with}}
</template>