<template name="configurationHardwareKeyEdit">
  <div class="page configuration configuration-hardware-edit">
    {{#with cle}}
      <div class="page-header">
        <h1> {{aliasname}}
          <small>({{name}})</small>
        </h1>
      </div>

      {{> breadcrumb breadcrumbLinks}}

      <div class="the-style">
        <button class="float-end btn btn-sm btn-danger js-remove">
          <i class="fa fa-trash"></i>
        </button>

        <h4>Modification Clé</h4>

        {{#if device}}
          Broche <label class="badge badge-default mr-4">{{device.broche}}</label> Type <label class="badge badge-danger mr-4">{{device.type_id}} : {{device.name}}</label> Nom <label class="badge badge-primary">{{keyName}}</label>
        {{/if}}

        <form id="cleEdit" class="mt-4" novalidate="novalidate">

          <div class="mb-3 alpha-50">
            <label class="control-label">Identifiant</label>
            <input class="form-control" disabled="" value="{{_id}}">
            <input type="hidden" name="_id" value="{{_id}}">
          </div>

          <div class="mb-3">
            <label for="alias" class="control-label">Alias</label>
            <input type="text" name="alias" id="alias" class="form-control" value="{{alias}}">
            <span class="help-block"></span>
          </div>
          <div class="mb-3">
            <label for="type" class="control-label">Type de clé</label>
            <select name="type" id="type" autocomplete="off" class="form-control">
              <option value="">...</option>
              {{#each getKeyTypes}}
                <option value="{{type}}" {{isSelectedOption type ../type}}>{{name}}</option>
              {{/each}}
            </select>
            <span class="help-block"></span>
          </div>

          <div class="mb-3">
            <label for="style" class="control-label">Style d'affichage</label>
            <select name="style" id="style" autocomplete="off" class="form-control">
              <option value="">...</option>
              {{#each keyStyles}}
                <option value="{{value}}" {{isSelectedOption value ../style}}>{{name}}</option>
              {{/each}}
            </select>
            <span class="help-block"></span>
          </div>

          <div class="mb-3">
            <label for="unit" class="control-label">Unité</label>
            <input type="text" name="unit" id="unit" class="form-control" value="{{unit}}">
            <span class="help-block"></span>
          </div>

          <div class="mb-3">
            <label for="minTime" class="control-label">Temps minimum d'enregistrement entre deux données en millisecondes</label>
            <input type="number" name="minTime" id="minTime" class="form-control" value="{{minTime}}" placeholder="9 min 30 = 570000">
            <span class="help-block"></span>
          </div>

          {{#if isUserSettingsActive 'jeedom'}}
            {{#if isHardwareMine hard_id}}
              <div class="mb-3">
                <label for="wuhc" class="control-label">Identifiant jeedom</label>
                <input type="text" name="jeedomId" id="wuhc" class="form-control" value="{{jeedomId}}" placeholder="identifiant jeedom">
                <span class="help-block"></span>
              </div>
            {{/if}}
          {{/if}}

          {{#if isUserSettingsActive 'domoticz'}}
            {{#if isHardwareMine hard_id}}

              <div class="mb-3">
                <label for="wuh" class="control-label">Identifiant domoticz</label>
                <input type="text" name="domoticzId" id="wuh" class="form-control" value="{{domoticzId}}" placeholder="identifiant domoticz">
                <span class="help-block"></span>
              </div>
            {{/if}}
          {{/if}}

          {{#if iskWhHCPriced}}
            <div class="mb-3">
              <label for="key-name" class="control-label">Prix kWh</label>
              <input type="text" name="kWhPrice" id="key-name" data-schema-key="unit" class="form-control" value="{{kWhPrice}}">
              <span class="help-block"></span>
            </div>
          {{/if}}

          <div class="mb-3">
            <div class="checkbox">
              <label>
                <input type="checkbox" name="public:boolean" {{isChecked public}} data-unchecked-value="false">
                Publique
              </label>
            </div>
            <span class="help-block"></span>
          </div>

          <div class="mb-3">
            <div class="checkbox">
              <label>
                <input type="checkbox" name="notified:boolean" {{isChecked notified}} data-unchecked-value="false">
                Notifié
              </label>
            </div>
            <span class="help-block"></span>
          </div>

          <div class="mb-3">
            <div class="checkbox">
              <label>
                <input type="checkbox" name="volatile:boolean" {{isChecked volatile}} value="true" data-unchecked-value="false">
                Volatile
              </label>
            </div>
            <span class="help-block"></span>
          </div>

          <div class="mb-3">
            <div class="checkbox">
              <label>
                <input type="checkbox" name="initOnBoot:boolean" {{isChecked initOnBoot}} value="true" data-unchecked-value="false">
                remettre à la dernière valeur au démarrage
              </label>
            </div>
            <span class="help-block"></span>
          </div>

          <button id="submit" class="btn btn-primary">Mettre à jour</button>
        </form>
      </div>
    {{/with}}
  </div>
</template>