<template name="configurationHardwareEdit">
  <div class="page administration admin-hardware-edit">
    <div class="page-header">
      <h1>{{aliasname}}</h1>
    </div>

    {{> breadcrumb breadcrumbLinks}}

    <div class="the-style">
      <button class="float-end btn btn-sm btn btn-danger js-delQui">
        <i class="fa fa-trash"></i>
      </button>

      <form id="hardEdit">
        <h4>Modifier matériel</h4>
        <div class="mb-3">
          <label class="control-label">Identifiant</label>
          <input class="form-control" disabled="" value="{{_id}}">
          <input type="hidden" name="_id" value="{{_id}}">
        </div>
        <div class="mb-3">
          <label for="hard-alias" class="control-label">Alias</label>
          <input id="hard-alias" type="text" name="alias" class="form-control" value="{{alias}}" placeholder="Donnez un surnom à votre matériel">
          <span class="help-block"></span>
        </div>
        {{#if equals type 'arduinodoudou'}}
          <div class="mb-3">
            <label class="control-label">Nom Eeprom arduino</label>
            <input class="form-control" type="text" name="name" value="{{name}}">
          </div>
          <div class="mb-3">
            <label class="control-label">Emails Eeprom arduino</label>
            <input class="form-control" type="text" name="emails" value="{{emails}}" placeholder="emails séparés par des virgules">
          </div>
        {{/if}}

        <div class="mb-3">
          <label for="DyyJ7kgvYKni3pgCC" class="control-label">type</label>
          <!--FIXME remplace by select-->
          <select name="type" class="form-control">
            {{#each hardwaresTypes}}
              <option value="{{value}}" {{isSelectedOption value ../type}}>{{text}}</option>
            {{/each}}
          </select>
          <span class="help-block"></span>
        </div>

        <div class="mb-3">
          <label for="form-ip" class="control-label">Ip</label>
          <input type="text" name="ip" id="form-ip" class="form-control" value="{{ip}}">
          <span class="help-block"></span>
        </div>

        <div class="mb-3">
          <label for="QfpaxM3fJJrKxu5Qc" class="control-label">Port</label>
          <input type="number" name="port" id="QfpaxM3fJJrKxu5Qc" class="form-control" value="{{port}}">
          <span class="help-block"></span>
        </div>

        <!--<div class="mb-3">-->
        <!--<label for="form-ip" class="control-label">Ip locale (utilisé en cas de box sans loopback)</label>-->
        <!--<input type="text" name="ipLocal" id="form-ip" class="form-control" value="{{ipLocal}}">-->
        <!--<span class="help-block"></span>-->
        <!--</div>-->

        <div class="panel panel-default">
          <div class="panel-heading">Partagé avec</div>
          <ul class="list-group">
            {{#each shared}}
              <li class="list-group-item">
                <div class="float-end">
                  <button type="button" class="btn btn-primary shared-remove-item" data-value="{{@index}}"><span class="fa fa-minus"></span></button>
                </div>
                <div class="panel panel-default">
                  <div class="panel-body">
                    <div class="mb-3">
                      <label for="shared-email-{{userId}}" class="control-label">Email</label>
                      <input type="text" name="shared[][email]" id="shared-email-{{userId}}" required="" class="form-control" value="{{email}}">
                      <span class="help-block"></span>
                    </div>
                    <input type="hidden" name="shared[][userId]" value="{{userId}}">
                    <div class="mb-3">
                      <label for="shared-role-{{userId}}" class="control-label">Role</label>
                      <select name="shared[][role]" id="shared-role-{{userId}}" class="form-control">
                        <option value="">Selectionnez</option>
                        <option value="admin" {{isSelectedOption "admin" role}}>Config / Lecture</option>
                        <option value="reader" {{isSelectedOption "reader" role}}>Lecture</option>
                      </select>
                      <span class="help-block"></span>
                    </div>
                  </div>
                </div>
              </li>
            {{/each}}
            <li class="list-group-item">
              <button type="button" class="btn btn-primary shared-add-item"><span class="fa fa-plus"></span></button>
            </li>
          </ul>
        </div>
        <div class="text-end"><button id="submit" class="mt-3 btn btn-primary">Mettre à jour</button></div>

      </form>
    </div>

    {{> configurationHardwareItemOpen}}

  </div>

</template>

<template name="configurationHardwareItemOpen">
  <h2 class="ml-3 mt-5">Clés</h2>

  {{#if hasKey}}
    <div class="the-style table-responsive table-hover">
      <table class="table">
        <thead>
          <tr>
            <th style="width:40px"></th>
            <th style="width:90px"></th>
            <th style="width:90px"></th>
            <th style="width:90px"></th>
            <th style="width:90px"></th>
            <th style="width:90px">Type</th>
            <th style="width:90px">Style</th>
            <th></th>
            <th>Name</th>
            <th>Alias</th>
            <th title="Temps minimum d'enregistrement entre deux données en millisecondes">Temps minimum (ms)</th>
            {{#if isUserSettingsActive 'jeedom'}}
              <th>Jeedom</th>
            {{/if}}
            {{#if isUserSettingsActive 'domoticz'}}
              <th>Domoticz</th>
            {{/if}}
            <th style="width:160px">Dernière donnée</th>
            <th style="width:40px"></th>
          </tr>
        </thead>
        <tbody id="show-{{name}}" class="sortable">
          {{#each keys _id}}
            <tr data-sortable-key="{{name}}">
              <td><span class="material-icons-outlined handle">drag_indicator</span></td>
              <td><a href="{{pathFor 'configurationHardwareKeyEdit' hardId=../_id name=name}}" class="btn btn-sm btn-warning"><i class="fa fa-edit fa-fw"></i></a></td>
              <td>
                {{#if show}}
                  <a class="btn btn-sm btn-primary showCle" title="visible"><i class="fa fa-eye fa-fw"></i></a>
                {{else}}
                  <a class="btn btn-sm btn-outline-primary showCle" title="cachée"><i class="fa fa-eye-slash fa-fw"></i></a>
                {{/if}}
              </td>
              <td>
                {{#if public}}
                  <a class="btn btn-sm btn-outline-success js-public" title="publique"><i class="fa fa-unlock fa-fw"></i></a>
                {{else}}
                  <a class="btn btn-sm btn-danger js-public" title="privée"><i class="fa fa-lock fa-fw"></i></a>
                {{/if}}
              </td>
              <td>
                {{#if notified}}
                  <a class="btn btn-sm btn-default js-notified" title="notifié"><i class="fa fa-bell-o fa-fw"></i></a>
                {{else}}
                  <a class="btn btn-sm btn-outline-default js-notified" title="pas notifié"><i class="fa fa-bell-slash-o fa-fw"></i></a>
                {{/if}}
              </td>
              <td><a class="clickable js-change-type-inc">{{{getIconType type}}}</a></td>
              <td><a class="clickable js-change-style-inc">{{{getIconStyle style}}}</a></td>
              <td>{{#if device.name}}<label class="badge badge-danger" title="{{device.name}}">{{device.type_id}}</label> <label class="badge badge-default" title="broche">{{device.broche}}</label>{{/if}}</td>
              <td class="alpha-50"><a href="/dashboard/{{../_id}}/{{name}}/24">{{name}}</a></td>
              <td>{{#if alias}}<a href="/dashboard/{{../_id}}/{{name}}/24">{{aliasname}}</a>{{/if}}</td>
              <td>{{minTime}}</td>
              {{#if isUserSettingsActive 'jeedom'}}
                <td>{{#if jeedomId}}<span class="m-l-10 badge badge-primary">jeedom {{jeedomId}}</span>{{/if}}</td>
              {{/if}}
              {{#if isUserSettingsActive 'domoticz'}}
                <td>{{#if domoticzId}}<span class="m-l-10 badge badge-primary">domoticz {{domoticzId}}</span>{{/if}}</td>
              {{/if}}
              <td class="btn-{{lastSeenClass lastData.date}}">{{#if lastData}}{{formatDate lastData.date 'DD/MM/YY HH:mm'}}{{/if}}</td>
              <td><a class="js-key-delete badge badge-danger">x</a></td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  {{else}}
    <div class="">Aucune clé pour ce matériel</div>
  {{/if}}
</template>