<template name="configurationHardware">
  <div class="page-header">
    <h1>Matériels</h1>
  </div>

  <div class="page configuration hardware">
    {{> breadcrumb breadcrumbLinks}}

    <div>
      <a href="{{pathFor 'configurationHardwareAdd'}}" class="float-end btn btn-sm btn-primary">Ajouter un Matériel</a>
    </div>

    <table class="table table-hover table-stripped sortable">
      <thead>
        <tr>
          <th width="40"></th>
          <th width="85"></th>
          <th width="85"></th>
          <th>Nom</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each hardwareMine}}
          {{> configurationHardwareItem}}
        {{else}}
          <tr>
            <td colspan="6">Vous n'avez aucun matériel pour l'instant</td>
          </tr>
        {{/each}}
      </tbody>
    </table>

    {{#unless isUserSettingsActive 'hideShared'}}
      {{#with hardwareShared}}
        <h4 class="mt-5">Partagés avec moi</h4>
        <ul class="list-unstyled sortableQui">
          {{#each this}}
            {{> configurationHardwareItem}}
          {{/each}}
        </ul>
      {{/with}}
    {{/unless}}
  </div>

</template>

<template name="configurationHardwareItem">
  <tr class="the-style list-unstyled" data-sortable-hard_id="{{_id}}">
    <td><span class="material-icons-outlined handle">drag_indicator</span></td>
    <td><a href="{{pathFor 'configurationHardwareEdit' hard_id=_id}}" class="btn btn-sm btn-warning" title="edition"><i class="fa fa-edit fa-fw"></i></a></td>
    <td>{{#if show}}<button class="btn btn-sm btn-primary showQui" title="visible"><i class="fa fa-eye fa-fw"></i></button>{{else}}<button class="btn btn-sm btn-outline-primary showQui" title="cachée"><i class="fa fa-eye-slash fa-fw"></i></button>{{/if}}</td>
    <td>{{> aliasName}}</td>
    <td>{{#with keyCount}}<a href="{{pathFor 'configurationHardwareEdit' hard_id=../_id}}" class="btn btn-sm btn-primary">{{this}} clés</a>{{/with}}</td>
    <td></td>
    <td></td>
    <td>
      {{#if equals type 'arduinodoudou'}}
        <div class="float-end">
          {{#if hasType 185}}
            <a href="{{pathFor 'arduinoPing' hard_id=_id}}" class="m-r-15 btn btn-sm btn-primary">Ping</a>
          {{/if}}
          {{#if isHardwareMine}}
            {{#if equals type 'arduinodoudou'}}
              {{#if isUserSettingsActive 'jeedom'}}
                <a class="m-r-15 btn btn-sm {{hasConfJeedom}} js-send-box" data-box="jeedom">Jeedom <i class="fa fa-send"></i></a>
                {{#if isUserSettingsActive 'domoticz'}}
                  <a class="m-r-15 btn btn-sm js-send-box" data-box="les-deux"> + <i class="fa fa-send"></i></a>
                {{/if}}
              {{/if}}
              {{#if isUserSettingsActive 'domoticz'}}
                <a class="m-r-15 btn btn-sm {{hasConfDomoticz}} js-send-box" data-box="domoticz">Domotics <i class="fa fa-send"></i></a>
              {{/if}}
            {{/if}}
          {{/if}}
          {{#if hasDeviceType 86}}
            <div class="d-inline-block bg-light p-1 br-5">
              {{> mhz433ListenOnOff}}
            </div>
          {{/if}}
          <a href="{{pathFor 'configurationHardwareLogs' hard_id=_id}}" class="m-r-15 btn btn-sm btn-primary">Logs</a>
          <a href="{{pathFor 'configurationHardwareDevices' hard_id=_id}}" class="m-r-15 btn btn-sm btn-primary">Périphériques</a>
        </div>
      {{/if}}
    </td>
  </tr>

</template>