<template name="configurationHardwareDevices">
  <div class="page configuration hardware">
    {{#with getHardOne hard_id}}
      <div class="page-header">
        <h1>Périphériques {{aliasname}}</h1>
      </div>
      {{> breadcrumb breadcrumbLinks}}
      <div class="the-style">
        <div class="float-end"><span class="badge badge-warning">{{ip}}</span>:<span class="badge badge-warning">{{port}}</span></div>
        <div class="mb-3">
          <div class="checkbox"><label for="maj_id"><input type="checkbox" name="maj_id" class="checkbox-material" id="maj_id"> Renvoyer son ID au matériel ({{_id}})</label></div>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th width="25">Broche</th>
              <th width="25">Id</th>
              <th>Nom Périphérique</th>
              <th>Commentaires</th>
              <th>Live?</th>
              <th>Enfant?</th>
              <th width="160"></th>
            </tr>
          </thead>
          {{#each devices}}
            <tr>
              <td><label class="badge badge-default">{{broche}}</label></td>
              <td><span class="badge badge-danger">{{type_id}}</span></td>
              <td>{{name}}</td>
              <td>{{#with hard=.. device=.}}<input class="form-control" name="comment" value="{{device.comment}}" placeholder="commentaire">{{/with}}</td>
              <td>{{live}}</td>
              <td>{{child}}</td>
              <td>
                <button class=" btn btn-sm btn-primary js-add-device-child">Ajouter</button>
                {{#with i=@index}}
                  <button class="btn btn-sm btn-danger js-delete"><i class="fa fa-trash"></i></button>
                {{/with}}
              </td>
            </tr>
          {{/each}}
          <tr>
            <td class="pt-4"><input id="InputBroche" name="broche" class="form-control" placeholder="numéro de broche"></td>
            <td></td>
            <td class="pt-4">
              <select name="type" class="form-control">
                {{#each types}}
                  <option value="{{type_id}}">{{type_id}} : {{title}}</option>
                {{/each}}
              </select>
            </td>
            <td><input name="comment" class="form-control" placeholder="commentaire"></td>
            <td class="pt-4 ps-2">
              <div class="mb-3">
                <div class="checkbox"><label for="InputLive"><input id="InputLive" name="live" type="checkbox"> Live</label></div>
              </div>
            </td>
            <td class="pt-4"></td>
            <td class="pt-4">
              <button class="btn btn-sm btn-primary js-add-device">Ajouter</button>
            </td>
          </tr>
        </table>
        <form>
          <div class="text-left">
            {{#if isDdpConnected ddpId=ddpId}}
              <button class="btn btn-primary js-validation">Envoyer la configuration à l'arduino par SOCKET</button>
            {{else}}
              <button class="btn btn-primary js-validation">Envoyer la configuration à l'arduino par HTTP</button>
            {{/if}}
          </div>
        </form>
        <p id="wait"></p>
      </div>
    {{/with}}
  </div>
</template>