<template name="arduinoPing">
  <div class="page configuration ping">
    <div class="page-header">
      <h1>{{aliasname}} Ping</h1>
    </div>

    {{> breadcrumb breadcrumbLinks}}

    <div>
      <h3>IP(s) à ping</h3>
      {{#each pingDevice}}
        {{#with context=this parent=..}}
          {{#if equals context.type_id 185}}
            {{>arduinoPingDevice}}
          {{/if}}
        {{/with}}
      {{/each}}
    </div>
  </div>
</template>

<template name="arduinoPingDevice">
  <div class="the-style">
    <label>{{context.pingIndex}} :</label> <input class="form-control" name="ip" value="{{context.ip}}">
    <div class="checkbox">
      <label for="disable-notifications" class="checkbox-material">
        <input type="checkbox" id="disable-notifications" name="disableNotifications" class="filled-in" {{checked 'disableNotifications'}}> Cette ip désactive l'envoie de notifications de tout les appareils proche.
      </label>
    </div>
  </div>
</template>