<template name="configurationScenarioAddOrEditCron">
  <div class="mb-3">
    <label>cronTime</label>
    <input name="cronTime" class="form-control" value="{{cronTime}}" placeholder="* * * * *">
  </div>

  {{#each output}}
    <div class="mb-3">
      <label>Action</label>
      <select class="form-control" name="output[]">
        <option value=""> -- Choisir l'action</option>
        {{#each getMyActions}}
          <option value="{{_id}}" {{isSelectedOption _id ..}}>{{name}}</option>
        {{/each}}
      </select>
    </div>
  {{/each}}

  <div class="mb-3">
    <label>Action</label>
    <select class="form-control" name="output[]">
      <option value=""> -- Choisir l'action</option>
      {{#each getMyActions}}
        <option value="{{_id}}">{{name}}</option>
      {{/each}}
    </select>
  </div>
</template>