<template name="configurationScenarioAddOrEditFree">
  <div class="row">
    <div class="col">
      <div class="mb-3">
        <label>Evenement déclencheur</label>
        <select class="form-control" name="input">
          <option value=""> -- Choisir l'événement</option>
          {{#each events}}
            <option value="{{_id}}" {{isSelectedOption _id ../input}}>{{name}}</option>
          {{/each}}
        </select>
      </div>
    </div>
    <div class="col">
      <div class="mb-3">
        <label>From date</label>
        <input name="fromDate" type="time" class="form-control" value="{{fromDate}}">
      </div>
    </div>
    <div class="col">
      <div class="mb-3">
        <label>To date</label>
        <input name="toDate" type="time" class="form-control" value="{{toDate}}">
      </div>
    </div>
  </div>

  {{#each output}}
    <div class="mb-3">
      <label>Action</label>
      <select class="form-control" name="output[]">
        <option value=""> -- Choisir l'action</option>
        {{#each getMyActions}}
          <option value="{{_id}}" {{isSelectedOption _id ..}}>{{name}}</option>
        {{/each}}
      </select>
    </div>
  {{/each}}

  <div class="mb-3">
    <label>Action</label>
    <select class="form-control" name="output[]">
      <option value=""> -- Choisir l'action</option>
      {{#each getMyActions}}
        <option value="{{_id}}">{{name}}</option>
      {{/each}}
    </select>
  </div>
</template>