<template name="configurationScenarioAddOrEditHeater">
  <div class="mb-3">
    <label>Température de consigne</label>
    <input name="temp" type="number" step="any" class="form-control" value="{{temp}}">
  </div>
  <div class="mb-3">
    <label>Delta</label>
    <input name="delta" type="number" step="any" class="form-control" value="{{getDelta}}">
  </div>
  <div class="mb-3">
    <label>Quelle sonde de température?</label>
    <select name="sensorId" class="form-control">
      <option value="">-- Sonde --</option>
      {{#each getMyTempKeys}}
        <option value="{{_id}}" {{isSelectedOption _id ../sensorId}}>{{aliasname (getHardOneByKeyId _id)}} - {{aliasname}}</option>
      {{/each}}
    </select>
  </div>
  <div class="mb-3">
    <label>Quelle action allume le chauffage ?</label>
    <select class="form-control" name="heaterOn">
      <option value=""> -- Choisir l'action</option>
      {{#each getMyActions}}
        <option value="{{_id}}" {{isSelectedOption _id ../heaterOn}}>{{name}}</option>
      {{/each}}
    </select>
  </div>
  <div class="mb-3">
    <label>Quelle action éteinds le chauffage ?</label>
    <select class="form-control" name="heaterOff">
      <option value=""> -- Choisir l'action</option>
      {{#each getMyActions}}
        <option value="{{_id}}" {{isSelectedOption _id ../heaterOff}}>{{name}}</option>
      {{/each}}
    </select>
  </div>

  {{#each rangeDateUTC}}
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <label>De</label>
          <input name="fromDate[]:utcTime" type="time" class="form-control" value="{{utcToLocalTime fromDate}}">
        </div>
      </div>
      <div class="col">
        <div class="mb-3">
          <label>à</label>
          <input name="toDate[]:utcTime" type="time" class="form-control" value="{{utcToLocalTime toDate}}">
        </div>
      </div>
      <div class="col">
        <div class="mb-3">
          <label>T°</label>
          <input name="temperatures[]" type="number" step="any" class="form-control" value="{{temperature}}">
        </div>
      </div>
    </div>
  {{/each}}
  <div class="row">
    <div class="col">
      <div class="mb-3">
        <label>De</label>
        <input name="fromDate[]:utcTime" type="time" class="form-control" value="">
      </div>
    </div>
    <div class="col">
      <div class="mb-3">
        <label>à</label>
        <input name="toDate[]:utcTime" type="time" class="form-control" value="">
      </div>
    </div>
    <div class="col">
      <div class="mb-3">
        <label>T°</label>
        <input name="temperatures[]" type="number" step="any" class="form-control" value="">
      </div>
    </div>
  </div>
</template>