<template name="adminLayout">
  {{#if currentUser}}
    <div id="admin-layout">
      <div id="menu">
        <a href="{{#if isUserSettingsActive 'hideHome'}}{{pathFor 'dashboard'}}{{else}}{{pathFor 'home'}}{{/if}}" class="navbar-brand"><img src="/favicon-32x32.png"> HOME<span>DOUDOU</span></a>
        <ul class="nav flex-column">
          <li class="nav-item bg-primary"><a href="{{pathFor 'configuration'}}" class="nav-link" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Configuration"><i class="fa fa-gears fa-fw"></i><span class="visible-xs-inline"> Configuration</span></a></li>
          <li class="nav-item {{isActiveRoute regex='adminHardwares' class='active'}}"><a href="{{pathFor 'adminHardwares'}}" class="nav-link"><i class="fa fa-cube fa-fw"></i> Materiels</a></li>
          <li class="nav-item {{isActiveRoute regex='adminDdp' class='active'}}"><a href="{{pathFor 'adminDdp'}}" class="nav-link"><i class="fa fa-cube fa-fw"></i> ddp</a></li>
          <li class="nav-item {{isActiveRoute regex='adminDevice' class='active'}}"><a href="{{pathFor 'adminDevice'}}" class="nav-link"><i class="fa fa-cubes fa-fw"></i> Périphériques</a></li>
          <li class="nav-item {{activeMenuSplit 'logs' 2}}"><a href="/admin/logs/50" class="nav-link"><i class="fa fa-file-text-o fa-fw"></i> Logs</a></li>
          <li class="nav-item {{isActiveRoute 'adminMessages'}}"><a href="{{pathFor 'adminMessages'}}" class="nav-link"><i class="fa fa-envelope-open-o fa-fw"></i> Messages</a></li>
          <li class="nav-item {{isActiveRoute regex='adminKarotz' class='active'}}"><a href="{{pathFor 'adminKarotz'}}" class="nav-link"> &#128048; Karotz</a></li>
          <li class="nav-item {{isActiveRoute regex='adminUpload' class='active'}}"><a href="{{pathFor 'adminUpload'}}" class="nav-link"><i class="fa fa-upload fa-fw"></i> Upload</a></li>
          <li class="nav-item {{isActiveRoute regex='adminDaydTodo' class='active'}}"><a href="{{pathFor 'adminDaydTodo'}}" class="nav-link"><i class="fa fa-pencil-square-o fa-fw"></i> Todo</a></li>
        </ul>
        {{#if isWebmaster}}
          <ul class="nav flex-column">
            <div class="dropdown-divider"></div>
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-3">
              <span><a class="clickable js-hide-only-superAdmin-things badge bg-danger text-white" title="Only superAdmin can see this, click to hide superAdmin items, refresh for cancel">S</a> Webmaster</span>
            </h6>
            <li class="nav-item"><a href="{{pathFor 'dfmOrganizer'}}" class="nav-link {{isActiveRoute regex='dfmOrganizer' class='active'}}"><i class="fa fa-user fa-fw"></i> Organizer</a></li>
            <li class="nav-item"><a href="{{pathFor 'webmasterConfigs'}}" class="nav-link {{isActiveRoute regex='webmasterConfigs' class='active'}}"><i class="fa fa-gears fa-fw"></i> Configs</a></li>
            <li class="nav-item"><a href="{{pathFor 'webmasterDbs'}}" class="nav-link {{isActiveRoute regex='webmasterDbs' class='active'}}"><i class="fa fa-user fa-fw"></i> Dbs</a></li>
            <li class="nav-item"><a href="{{pathFor 'webmasterFix'}}" class="nav-link {{isActiveRoute regex='webmasterFix' class='active'}}"><i class="fa fa-user fa-fw"></i> Fix</a></li>
            <li class="nav-item"><a href="{{pathFor 'adminRoles'}}" class="nav-link {{isActiveRoute regex='adminRoles' class='active'}}"><i class="fa fa-gear fa-fw"></i> Roles</a></li>
            <li class="nav-item"><a href="{{pathFor 'adminContact'}}" class="nav-link {{isActiveRoute regex='adminContact' class='active'}}"><i class="fa fa-send fa-fw"></i> Contact</a></li>
            <li class="nav-item"><a href="{{pathFor 'adminNews'}}" class="nav-link {{isActiveRoute regex='adminNews' class='active'}}"><i class="fa fa-newspaper-o fa-fw"></i> News</a></li>
            <li class="nav-item"><a href="{{pathFor 'adminDebug'}}" class="nav-link {{isActiveRoute regex='adminDebug' class='active'}}"><i class="fa fa-bug fa-fw"></i> Debug</a></li>
            <div class="dropdown-divider"></div>
            {{> webmasterMenu}}
          </ul>
        {{/if}}
        <div class="dropdown-divider"></div>
        {{> menuUser}}
      </div>
      <div id="content">
        {{#unless connectionIssue}}
          <div class="notifications">
            <div class="row">
              <div class="col-2 icon">
                <i class="fa fa-refresh fa-spin fa-3x"></i>
              </div>
              <div class="col-10">
                <div class="title">En attente du server</div>
                <div class="description">Problème de connection?</div>
              </div>
            </div>
          </div>
        {{/unless}}
        {{#with exception}}
          <div class="notifications">
            <div class="row">
              <div class="col-2 icon">
                <i class="fa fa-exclamation-circle fa-3x"></i>
              </div>
              <div class="col-10">
                <button type="button" class="close js-close-exception" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="title">{{exception.error}} - {{exception.reason}}</div>
                <div class="description">{{exception.details}}</div>
              </div>
            </div>
          </div>
        {{/with}}
        <div class="content-overlay"></div>
        {{> yield}}
      </div>
      {{> footer}}
      {{> messages}}
    </div>
  {{/if}}
  {{> dfmWebmasterMessages}}
  {{> dfmToast}}
</template>