<template name="breadcrumb">
  <div class="breadcrumb">
    {{#each this}}
      {{#if link}}
        <a href="{{link}}" class="text-capitalize {{class}}">{{title}}</a>
      {{else}}
        <a class="text-capitalize no-link {{class}}">{{title}}</a>
      {{/if}}
    {{/each}}
  </div>
</template>