<template name="mainLayout">
  <div id="front-layout" class="{{darkMode 'dark'}}">
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark">
      <a href="{{#if isUserSettingsActive 'hideHome'}}{{pathFor 'dashboard'}}{{else}}{{pathFor 'home'}}{{/if}}" class="navbar-brand"><img src="/favicon-32x32.png" alt="logo"> HOME<span>DOUDOU</span></a>
      <button class="navbar-toggler" type="button" dfm-toggle="#navbarText" data-dfm-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="d-none navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto">
          {{#unless isUserSettingsActive 'hideHome'}}
            <li class="nav-item {{isActiveRoute  'dashboard'}}"><a href="{{pathFor 'dashboard'}}" class="nav-link"><i class="fa fa-area-chart fa-fw"></i><span> Tableau de bord</span></a></li>
          {{/unless}}
          <li class="nav-item {{isActiveRoute  'contact'}}"><a href="/contact" class="nav-link"><i class="fa fa-send fa-fw"></i><span> Contact</span></a></li>
        </ul>
        <ul class="navbar-nav ms-auto">
          {{#if currentUser}}
            <li class="nav-item primary-color"><a href="{{pathFor 'configuration'}}" class="nav-link" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Configuration"><i class="fa fa-gears fa-fw"></i> Configuration</a></li>
            {{#if isAdmin}}
              <li class="nav-item danger-color"><a href="{{pathFor 'adminLogs' limit=50}}" class="nav-link" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Administration"><i class="fa fa-star-o fa-fw"></i> Admin</a></li>
            {{/if}}
            {{> menuUser}}
          {{else}}
            <li class="nav-item"><a href="{{pathFor 'dfmSigninAtForm'}}" class="nav-link">Se connecter</a></li>
          {{/if}}
        </ul>
      </div>
    </nav>
    <div id="wrapper" class="sidebar-on">
      {{> sideBar}}
      <div class="content">
        {{#unless connected}}
          <div class="notifications">
            <div class="row">
              <div class="col-2 icon">
                <i class="fa fa-refresh fa-spin fa-3x"></i>
              </div>
              <div class="col-10">
                <div class="title">En attente du server</div>
                <div class="description">Problème de connection?</div>
              </div>
            </div>
          </div>
        {{/unless}}
        {{#with exception}}
          <div class="notifications">
            <div class="row">
              <div class="col-2 icon">
                <i class="fa fa-exclamation-circle fa-3x"></i>
              </div>
              <div class="col-10">
                <button type="button" class="close js-close-exception" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="title">{{exception.error}} - {{exception.reason}}</div>
                <div class="description">{{exception.details}}</div>
              </div>
            </div>
          </div>
        {{/with}}
        <div class="content-overlay"></div>
        {{#if notOnHome}}
          <p class="d-block d-sm-none">
            <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="collapse" data-bs-target="#sidebar" aria-expanded="false" aria-controls="sidebar">Toggle nav</button>
          </p>
        {{/if}}
        {{> yield}}
        {{> footer}}
      </div>
    </div>
    {{> messages}}
  </div>
  {{> dfmMessages}}
</template>