<template name="configurationLayout">
  <div id="configuration-layout">
    {{#if currentUser}}
    <nav class="navbar navbar-expand-lg fixed-top navbar-success navbar-dark">
      <a href="{{#if isUserSettingsActive 'hideHome'}}{{pathFor 'dashboard'}}{{else}}{{pathFor 'home'}}{{/if}}" class="navbar-brand"><img src="/favicon-32x32.png"> HOME<span>DOUDOU</span></a>
      <button class="navbar-toggler" type="button" data-dfm-toggle="collapse" data-dfm-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto">
          <li class="nav-item {{isActiveRoute 'configuration'}}"><a href="{{pathFor 'configuration'}}" class="nav-link"><i class="fa fa-gear fa-fw"></i> Configuration</a></li>
          <li class="nav-item {{isActiveRoute 'configurationHardware'}}"><a href="{{pathFor 'configurationHardware'}}" class="nav-link"><i class="fa fa-microchip fa-fw"></i> Matériels</a></li>
          {{#if isUserSettingsActive 'groupBoard'}}
          <li class="nav-item {{isActiveRoute 'configurationRooms'}}"><a href="{{pathFor 'configurationRooms'}}" class="nav-link"><i class="fa fa-object-ungroup fa-fw"></i> Groupes</a></li>
          {{/if}}
          <li class="nav-item {{isActiveRoute 'configurationScenariosList'}}"><a href="{{pathFor 'configurationScenariosList'}}" class="nav-link"><i class="fa fa-file-text-o fa-fw"></i> Scénarios</a></li>
          <li class="nav-item {{isActiveRoute 'configurationNotifs'}}"><a href="{{pathFor 'configurationNotifs'}}" class="nav-link"><i class="fa fa-gear fa-fw"></i> Notifications</a></li>
          <li class="nav-item {{isActiveRoute 'configurationScrapers'}}"><a href="{{pathFor 'configurationScrapers'}}" class="nav-link"><i class="fa fa-gear fa-fw"></i> Scrapers</a></li>
        </ul>
        <ul class="navbar-nav ms-auto">
          {{#if isAdmin}}
          <li class="nav-item danger-color"><a href="{{pathFor 'adminLogs' limit=50}}" class="nav-link" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Administration"><i class="fa fa-star-o fa-fw"></i><span class="visible-xs-inline"> Admin</span></a></li>
          {{/if}}
          {{> menuUser}}
        </ul>
      </div>
    </nav>

    <div class="container">
      <div class="content">
        {{#with exception}}
        <div class="notifications">
          <div class="row">
            <div class="col-2 icon">
              <i class="fa fa-exclamation-circle fa-3x"></i>
            </div>
            <div class="col-10">
              <button type="button" class="close js-close-exception" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <div class="title">{{exception.error}} - {{exception.reason}}</div>
              <div class="description">{{exception.details}}</div>
            </div>
          </div>
        </div>
        {{/with}}

        <div class="content-overlay"></div>

        {{> yield}}
      </div>
    </div>

    {{> footer}}

    {{> messages}}
    {{/if}}
  </div>

  {{> dfmWebmasterMessages}}
  {{> dfmToast}}
</template>