<template name="appLoading">
  <div class="page-header">
    <h1><span class="primary-text">HOME</span>DOUDOU</h1>

    <p class="subtitle">
      <span>La domotique comme à la maison</span>
    </p>
  </div>
  <div class="text-center">
    <i class="fa fa-spinner fa-spin fa-5x"></i>
  </div>
</template>
