<template name="menuUser">
  {{#if currentUser}}
    <li id="account-menu" class="nav-item dropdown">
      <a class="nav-link" dfm-toggle="#account-menu-list"><i class="fa fa-power-off fa-fw"></i> Compte</a>
      <div id="account-menu-list" class="d-none">
        <a class="dropdown-item" href="{{pathFor 'myaccount'}}"><i class="fa fa-edit fa-fw"></i> Mon compte</a>
        <a class="dropdown-item js-logout" href="#"><i class="fa fa-sign-out fa-fw"></i> Se deconnecter</a>
      </div>
    </li>
  {{else}}
    <li class="nav-item"><a href="{{pathFor 'dfmSigninAtForm'}}" class="nav-link"><i class="fa fa-sign-in fa-fw"></i><span> Se connecter</span></a></li>
    <li class="nav-item"><a href="{{pathFor 'join'}}" class="nav-link"><i class="fa fa-plug fa-fw"></i><span> S'inscrire</span></a></li>
  {{/if}}
</template>