<template name="messages">
  {{#with getMessages}}
    <div id="messages">
      {{#each messages}}
        <div class="message {{style}}">
          <div class="close js-close"><i class="fa fa-close"></i></div>
          <div class="title">{{title}}</div>
          <div class="text">{{text}}</div>
          <div class="details">
            <pre>{{JSONstringify details}}</pre>
          </div>
        </div>
      {{/each}}
    </div>
  {{/with}}
</template>
