<template name="isDDPConnected">
  {{#if isDdpConnected ddpId}}
    <span class="float-end"><i class="socket-connected" data-bs-toggle="tooltip" title="socket connected"></i></span>
  {{/if}}
</template>

<template name="aliasName">
  {{#if link}}
    <a href="{{link}}" class="alias-name btn btn-sm btn-{{lastSeenClass ctx.lastSeen}} {{class}}">{{> isDDPConnected ddpId=ctx.ddpId}} {{aliasname ctx}}</a>
  {{else}}
    {{> isDDPConnected ddpId=ctx.ddpId}} {{aliasname ctx}}
  {{/if}}
</template>