<template name="tabletLayout">
  <div id="front-layout" class="{{darkMode 'dark'}} tablet-mode">
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark">
      <a href="{{#if isUserSettingsActive 'hideHome'}}{{pathFor 'dashboard'}}{{else}}{{pathFor 'home'}}{{/if}}" class="navbar-brand"><img src="/favicon-32x32.png" alt="logo"> HOME<span>DOUDOU</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <div class="text-center current-time">{{currentTime}}</div>
        <ul class="navbar-nav ms-auto">
          {{#if currentUser}}
            <li class="nav-item primary-color"><a href="{{pathFor 'configuration'}}" class="nav-link" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Configuration"><i class="fa fa-gears fa-fw"></i> Configuration</a></li>
          {{else}}
            <li class="nav-item"><a href="{{pathFor 'dfmSigninAtForm'}}" class="nav-link">Se connecter</a></li>
          {{/if}}
        </ul>
      </div>
    </nav>
    {{> dashboardRooms}}

    {{> messages}}
  </div>

  {{> dfmWebmasterMessages}}
  {{> dfmToast}}
</template>
