<template name="configurationRoomsScenarios">
  <div class="tab-content card pt-5 room mb-5" id="tab-scenarios">
    <div class="row">
      <div class="col">Nom</div>
      <div class="col">Evénement</div>
      <div class="col">Actions</div>
      <div class="col"></div>
      <div class="col"></div>
    </div>
    {{#each getMyScenariosByRoomId _id}}
      <form id="form-{{_id}}">
        <div class="row the-style">
          <div class="col {{#if disabled}}alpha-50{{/if}}">{{name}} <span class="meteor-id alpha-50">{{_id}}</span></div>
          <div class="col">{{{eventName input}}} <span class="meteor-id alpha-50">{{input}}</span></div>
          <div class="col">
            {{#each output}}
              {{actionName this}} <a class="btn btn-sm btn-primary js-action-test">tester l'action</a><br>
            {{/each}}
          </div>
          <div class="col">
            {{> configurationRoomsSelect}}
          </div>
          <div class="col text-right">
            {{#if isEditing}}
              <a class="btn btn-sm btn-primary js-submit"><i class="fa fa-save"></i></a>
            {{else}}
              <a class="float-end js-edit"><i class="fa fa-edit"></i></a>{{/if}}
          </div>
        </div>
      </form>
    {{else}}
      <div>Vous n'avez aucun scénario pour l'instant</div>
    {{/each}}

    {{> configurationRoomsScenarioAdd}}
  </div>
</template>