<template name="configurationRoomsScenarioAdd">
  <form id="rooms-scenario-add">
    <div class="row the-style">
      <div class="col">
        <select name="scenarioId" class="form-control">
          <option value="">-- Choisir SCENARIO --</option>
          {{#each getMyScenarios}}
            <option value="{{_id}}">{{aliasname}}</option>
          {{/each}}
        </select>
      </div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col">{{> configurationRoomsSelect}}</div>
      <div class="col text-right"><a class="btn btn-sm btn-primary js-scenario-add"><i class="fa fa-plus"></i></a></div>
    </div>
  </form>
</template>