<template name="sideBar">
  <div id="sidebar" class="navbar-collapse">
    <ul class="side-nav fixed" id="side-menu">

      {{#if isInDashboard}}
        {{#each hardwareMine}}
          {{> menuHardwareItem}}
        {{/each}}

        {{#unless isUserSettingsActive 'hideShared'}}
          {{#each hardwareShared}}
            {{> menuHardwareItem}}
          {{/each}}
        {{/unless}}

        {{#unless isUserSettingsActive 'hidePublic'}}
          {{#each hardwarePublic}}
            {{> menuHardwareItem}}
          {{/each}}
        {{/unless}}

      {{/if}}

      <li class="text-center"><img src="/img/karotz_logo.png" alt="karotz" class="m-t-20" width="70"></li>
      <li class="text-center"><img src="/img/keep-calm-and-use-arduino-1-150x150.png" alt="arduino" class="" width="70"></li>
      <li class="text-center">
        <span class="badge badge-default">Online</span> <span class="badge badge-default">{{nbConnected}}</span>
      </li>
    </ul>
  </div>
  <div id="ohsnap"></div>

</template>

<template name="menuHardwareItem">
  {{#if show}}
    <li class="menuSection {{activeMenuQui _id}}" title="{{lastSeenText lastSeen}}">
      <a href="/dashboard/{{_id}}" class="btn-{{lastSeenClass lastSeen}} text-hard {{activeMenuQui _id}}">{{> isDDPConnected ddpId=ddpId}} {{aliasname}}</a>
    </li>
  {{/if}}
</template>