<template name="contact">
  <div class="page-header">
    <h1>Contact</h1>

    <p class="subtitle"><strong>Vous souhaitez nous contacter ?</strong> Rien de plus simple, utilisez le formulaire de contact ci-dessous :</p>
  </div>

  {{> breadcrumb breadcrumbLinks}}

  <div class="row m-2">
    <div class="col-sm-10 the-style offset-1">
      <div class="substrate">
        <form id="form-contact">
          <div class="mb-3">
            <label for="nom">Nom</label>
            <input type="text" class="form-control" id="nom" placeholder="Nom, prénom, pseudo...">
          </div>
          <div class="mb-3">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Email...">
          </div>
          <div class="mb-3">
            <label for="message">Message</label>
            <textarea name="message" id="message" class="form-control" rows="5"></textarea>
          </div>
          <div id="message-sending" class="d-none btn btn-warning"> Envoie en cours</div>
          <button type="submit" class="btn btn-primary"><i class="fa fa-send"></i> Envoyer</button>
        </form>
      </div>
    </div>
  </div>

  <div class="paypal-don">
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="665PU6RTKLBXU">
      <input type="image" src="https://www.paypalobjects.com/fr_FR/FR/i/btn/btn_donate_LG.gif" name="submit" alt="PayPal - la solution de paiement en ligne la plus simple et la plus sécurisée !">
      <img alt="" border="0" src="https://www.paypalobjects.com/fr_FR/i/scr/pixel.gif" width="1" height="1">
    </form>
  </div>
</template>
