<template name="home">
  <div class="page home">
    <div class="page-header">
      <h1><span class="primary-text">HOME</span>DOUDOU</h1>

      <p class="subtitle">
        <span>La domotique comme à la maison</span>
      </p>
    </div>

    <div class="row">
      <div class="col-sm-8">
        <h4>Présentation</h4>

        <div class="the-style">
          <p>HomeDoudou est un projet de domotique OpenSource écrit en javascript avec le framework Meteor</p>

          <p>Vous pouvez vous <a href="{{pathFor 'dfmSigninAtForm'}}">inscrire</a> librement et <a href="{{pathFor 'dashboard'}}">tester</a> le site comme il vous <strong>plait</strong>.</p>

          <p>Vous pouvez participer et trouver le code source a l'adresse <br>
            <a href="https://bitbucket.org/davidf-m/homedoudou" target="_blank">https://bitbucket.org/davidf-m/homedoudou</a>
          </p>

          <p>Si vous avez un arduino, vous pouvez demandez le code source arduino sur la page <a href="{{pathFor 'contact'}}">contact</a></p>
        </div>

        <h4 class="mt-5">Dernières données publiques</h4>
        <div class="the-style">
          {{#each lastDataKeys}}
            <p class="last">
              <label class="badge badge-default">{{formatDate lastDate "hour"}}</label>
              <strong><a href="{{pathFor 'hardware' hard_id}}" class="text-hard">{{aliasname (getHardOne hard_id)}}</a></strong>
              <a href="{{pathFor 'dataKey' hard_id=hard_id keyName=name howLongHour=24}}" class="text-key">{{aliasname}}</a>: <label class="badge badge-primary">{{lastData.value}} {{unit}}</label>
            </p>
          {{else}}
            Aucune données pour l'instant
          {{/each}}
        </div>

      </div>
      <div class="col-sm-4">

        <h4>Quoi de neuf ?</h4>
        <div class="the-style">
          {{#each news}}
            <p>
              <i class="float-end alpha-50">{{formatDate created "short"}}</i><br>
              {{title}}
            </p>
          {{else}}
            <p>Chargement...</p>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</template>
