<template name="live">
  <div class="content-scrollable">
    <div class="page-header">
      <h1>Live</h1>
      <p class="subtitle" >
        <span>Domotique doudou</span>
      </p>
    </div>
    <div>
    </div>
  </div>
</template>
