#front-layout.dark {

  background-color: var(--color-darker);
  color: white;

  .content, footer {
    background-color: var(--color-darker);
  }

  nav.navbar, ul#roomsTabs {
    background-color: var(--color-front-dark);
  }

  #sidebar {
    background-color: var(--color-dark);

    a {
      color: white;
    }
  }

  .breadcrumb {
    a {
      &.color-front {
        background-color: var(--color-front-dark);

        &.active {
          background-color: var(--color-front);

          &:after {
            border-left-color: var(--color-front);
          }
        }
      }

      &:before {
        border-left-color: var(--color-darker);
      }

      &:after {
        border-left-color: var(--color-front-dark);
      }
    }
  }

  .tab-content {
    background-color: var(--color-dark);
  }

  .the-style, .display-key {
    background-color: black;
    color: white;
  }

  .status-longtime {
    border-color: black;
  }

  ul.how-long-hour {
    li a {
      color: white;
    }
  }
}