h1 {
  text-transform: uppercase;

  &:first-letter {
    color: var(--color-front);
  }

  small {
    color: var(--color-front);
  }
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 40px;
  margin-bottom: 10px;
}

#iron-router-progress {
  height: 2px !important;
  background-color: #fff !important;
  box-shadow: 0 0 5px #000 !important;
}

// MENU
.navbar {
  .navbar-header {
    text-align: center;
    width: 200px;
  }

  .navbar-right {
    margin-right: 0;
  }
}

a:hover {
  text-decoration: none;
}

.container {
  padding-bottom: 50px;
}

.btn {
  text-transform: unset !important;
}

.alias-name {
  &.btn {
    padding: 10px;
  }
}

.socket-connected {
  display: inline-block;
  background-color: #2bbaac;
  border: 1px solid #00796b;
  border-radius: 10px;
  width: 10px;
  height: 10px;
  margin-left: 10px;
}

#navbar-main {
  .menuSection {
    &.active {
      box-shadow: 0px 16px 5px -12px rgba(0, 0, 0, 0.24);
    }
  }
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  padding: 15px 0;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  background-color: @footer-background;
  color: @footer-color;
  z-index: 1;
}

.notifications {
  position: fixed;
  top: 25px;
  left: 25%;
  bottom: auto;
  right: auto;

  z-index: 2000;

  background-color: white;
  padding: 20px;
  -webkit-box-shadow: 2px 2px 18px 2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 2px 2px 18px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 2px 2px 18px 2px rgba(0, 0, 0, 0.24);

  .title {
    text-transform: uppercase;
    color: black;
    margin-bottom: 5px;
    font-weight: 600;
  }

  .description {
    color: @gray;
  }

  .icon {
    color: darken(red, 10%);
  }

}

.input-group {
  margin-bottom: 7px;
}

.input-group-addon {
  &.large {
    min-width: 150px;
    text-align: left;
  }
}

.list-errors {
  margin-bottom: 10px;
  padding: 10px;
  background-color: bisque;

  .list-item {
    margin-bottom: 5px;
    color: brown;
  }

  .list-item:before {
    font-family: FontAwesome;
    content: '\f06a';
    padding-right: 5px;
  }

}

ul.projects-list {
  li {
    list-style: none;

    div.project-descr {
      a {
        font-size: 2em;
      }

      p.descr {
        font-size: 1.3em;
      }

      p.startup {
        color: #aaa;
      }
    }
  }
}

.nav-tabs {
  margin-top: 10px;

  li {

    // FIXME: how to simplify this ? (too many repeated things)
    a {
      border-radius: 0;
      color: white;

      &:hover {
        color: black;
      }
    }

    &.active {
      a {
        border-radius: 0;
        color: black;
        -webkit-box-shadow: 1px -3px 2px 0px #eee;
        -moz-box-shadow: 1px -3px 2px 0px #eee;
        box-shadow: 1px -3px 2px 0px #eee;
      }

      &:hover {
        a {
          border-radius: 0;
          color: black;
        }
      }
    }
  }
}

.bad-form-field-value {
  background-color: red;
}

.access-pane {

  table {
    //width: 100%;

    td {
      padding: 8px;
    }

    tr:hover {
      background-color: #ffd;
    }

    tr.form {
      background: @color-menu-section;

    }

    td.member {
      min-width: 300px;
    }

    td.actions {
      text-align: center;
    }
  }

  .access-buttons {
    margin: 0;
    padding: 0;
    list-style: none;

    .role {
      background-color: #fff;
      border: 1px solid #a5b3c2;
      border-radius: 3px;
      font-size: 11px;
      font-weight: bold;
      line-height: 99%;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      float: left;
      margin: 1px 5px 0 0;
      padding: 2px 4px 1px;
      cursor: pointer;

      &.selected,
      &:hover {
        background-color: #4a6785;
        border-color: #4a6785;
        color: #fff;
      }
    }
  }
}

.bootstrap-tagsinput {
  display: block;
  border-radius: 0;
}

.list-group-item {
  padding: 2px;
}

//button edit
.button-edit {
  margin: 5px;
  display: inline-block;

  .js-button-edit {
    padding: 11px;
    margin: 0 0 2px 0;
    line-height: 15px;
    box-shadow: none !important;
  }
}

.select-awesome {
  font-family: 'FontAwesome', 'sans-serif';
  background-color: var(--color-front) !important;
  color: white;

  option {
    background-color: var(--color-front);
  }
}

//

table.the-style {
  background-color: transparent;
  box-shadow: none;

  thead {
    th {
      //text-align: center;
    }
  }

  tbody tr {
    td {
      padding: 10px;
      vertical-align: middle;
      background-color: white;
    }
  }
}

.buttons {

  .bloc {
    padding: 10px;
    margin: 5px;
    display: inline-block;

    &.button.the-style {
      text-align: center;

      &.btn-single {
        vertical-align: top;

        a.js-button-action {
          border-radius: 30px;
          min-height: 30px;
          min-width: 30px;
        }
      }

      &.btn-boolean {
        a.js-button-action {
          &:first-child {
            border-radius: 30px 0 0 30px;
          }

          &:nth-child(2) {
            border-radius: 0 30px 30px 0;
          }

          &.btn-unique.active {
            background-color: #880e4f;
          }

          &:not(.active) {
            background-color: #a9a9a9;
          }
        }
      }

      .btn-group-scenarios {
        .btn {
          border: 2px solid #82b1ff;
          padding: 5px 20px;
        }
      }
    }
  }
}

.btn {
  &.btn-on {
    background-color: var(--color-light);

    &.active {
      background-color: #577d2a;
    }
  }

  &.btn-off {
    background-color: var(--color-light);

    &.active {
      background-color: #880e4f;
    }
  }

  &.btn-do-it {
    background-color: #4285f4;
  }

  &.in-progress {
    background-color: var(--color-warning) !important;
  }
}

// FORUM
.reponse-text {
  border: dotted 1px #ccc;
  padding: 5px;
}

.js-reponse-submit {
  display: none;
}


.js-edit-task {
  padding: 20px;
}

.edited-not-save {
  background-color: #ddd;
}

.ui-sortable {
  li .handle {
    cursor: move;
    cursor: -webkit-grabbing;
  }

  .ui-sortable-helper {
    background-color: white;
    opacity: 0.75;
  }
}

.aliasQui {
  margin-left: 10px;
  font-weight: bold;
}

.collapse.width {
  height: auto;
  -webkit-transition: width 0.35s ease;
  -moz-transition: width 0.35s ease;
  -o-transition: width 0.35s ease;
  transition: width 0.35s ease;
}

#iron-router-progress {
  height: 1px;
  background-color: var(--color-front);
  box-shadow: 0 0 10px var(--color-front);
}

#tabs {
  margin-top: 10px;
  position: relative;

  ul {
    overflow: hidden;
    border-top: 1px solid #B7B7B7;
    border-bottom: 1px solid #B7B7B7;

    li {
      list-style: none outside none;
      float: left;
      display: block;
      padding: 5px;
      border-left: 1px solid #B7B7B7;
      cursor: pointer;
      font-size: 14px;
      color: #333333;

      &:first-child {
        border-left: 0px;
      }

      &:last-child {
        border-right: 0px;
      }

      &:hover {
        background-color: #E0E0E0;
      }

      &.tabActive {
        background-color: #DE411D;

        a {
          color: white;
        }
      }

      a {
        padding: 8px 10px;
        color: black;
      }
    }
  }
}

#tabs.elec ul li.tabActive {
  background-color: #EF7E1C;
}

#tabs.prod ul li.tabActive {
  background-color: #74AD23;
}

#tabs.eau ul li.tabActive {
  background-color: #32A1D6;
}

#tabs.relation ul li.tabActive {
  background-color: #E00E69;
}

#tabs.diy ul li.tabActive {
  background-color: #425777;
}

#tabs #contenu {
  height: 400px;
  line-height: 400px;
  margin-top: 10px;
  text-align: center;
}

.paypal-don {
  margin-top: 20px;
  text-align: center;
}

.primary-color {
  color: var(--color-front);
}

// PAGES
.page {

  &.home {
    p.last {
      -webkit-animation: fadein 2s;
      /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: fadein 2s;
      /* Firefox < 16 */
      -ms-animation: fadein 2s;
      /* Internet Explorer */
      -o-animation: fadein 2s;
      /* Opera < 12.1 */
      animation: fadein 2s;
    }
  }

  &.forum {
    .js-reponse-submit {
      margin-top: 20px;
    }

    .forum-add-answer {
      margin-top: 50px;
    }
  }

  &.configuration {
    &.hardware {
      li {
        padding: 2px;

        li:hover {
          background-color: var(--color-front);
          color: @lightest;

          a {
            color: @lightest;
          }
        }
      }

      .quiHeader {
        padding: 3px;
      }

      .add-materiel {
        margin-top: 50px;
      }
    }

    &.rooms {
      .room {
        .mb-3 {
          margin: 0;
        }

        .select2 {
          width: 100% !important;
        }
      }

      table.table-rooms {
        margin-bottom: 50px;

        tr {
          &:hover {
            background-color: var(--color-front-light);
          }

          td {
            padding: 5px;
          }

          &.ui-state-highlight {
            height: 54px;
            line-height: 54px;
            background-color: white;
          }
        }
      }

      #tab-buttons {
        //TODO
        //display: grid;
      }
    }
  }

  &.administration {
    &.todo {
      .task-header {
        margin-bottom: 5px;
      }

      .new-task input {
        box-sizing: border-box;
        padding: 10px 80px 10px 0;
        background: transparent;
        border: none;
        width: 100%;
        font-size: 1em;
      }

      .new-task input:focus {
        outline: 0;
      }

      ul {
        margin: 0;
        padding: 0;
        background: white;
      }

      .delete {
        float: right;
      }

      li {
        position: relative;
        list-style: none;
        border-bottom: #eee solid 1px;

        &.checked {
          box-shadow: none;
          background-color: @footer-background  !important;
          color: white;

          .text {
            text-decoration: line-through;
          }
        }

        &.private {
          background: #eee;
          border-color: #ddd;
        }

        .task-title {
          padding: 10px;

          &[placeholder]:empty:before {
            content: attr(placeholder);
            color: #ccc;
          }
        }

        .container-task-text {
          display: none;

          .task-text {

            padding: 10px;

            &[placeholder]:empty:before {
              content: attr(placeholder);
              color: #ccc;
            }
          }
        }

        .toggle-private {
          margin-right: 5px;
        }
      }

      header .hide-completed {
        float: right;
      }

      .toggle-private {
        margin-left: 5px;
      }

      @media (max-width: 600px) {
        li {
          padding: 12px 15px;
        }

        .search {
          width: 150px;
          clear: both;
        }

        .new-task input {
          padding-bottom: 5px;
        }
      }
    }
  }
}

.login-link-text {
  color: white;
}

#login-dropdown-list {
  border-radius: 0;
}

//
.orphelin {
  height: 74px;
}

.pad-20 {
  padding: 20px;
}

.pad-l-20 {
  padding-left: 20px;
}

.dashboard-cle {
  .cle {
    background-color: var(--color-front);
    color: white;
    margin: 10px;
    width: 200px;
    height: 200px;
    float: left;
    border: 1px dotted var(--color-front);
    overflow: hidden;

    p {
      font-size: 20px;
    }
  }
}

.toggle-fhide {
  display: none;
}

[name=color] {
  padding: 0;
  border: 0;
  background-color: transparent;
  vertical-align: middle;
  height: 42px;
}

.color-picker {
  background-color: #222222;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 2px 2px 2px #444444;
  color: #FFFFFF;
  font-size: 12px;
  position: absolute;
  width: 460px;
}

#picker {
  background-color: black;
  cursor: crosshair;
  margin: 10px;
  border: 0;
}

.show-hover {
  height: 10px;

  &:hover {
    height: 100%;
  }
}

.panel-group .panel.panel {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

/* ALERTS */
/* inspired by Twitter Bootstrap */

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #eed3d7;
  border-radius: 4px;
  position: absolute;
  bottom: 50px;
  right: 21px;
  /* Each alert has its own width */
  float: right;
  clear: right;
}

.alert-red {
  color: white;
  background-color: #DA4453;
}

.alert-green {
  color: white;
  background-color: #37BC9B;
}

.alert-blue {
  color: white;
  background-color: #4A89DC;
}

.alert-yellow {
  color: white;
  background-color: #F6BB42;
}

.alert-orange {
  color: white;
  background-color: #E9573F;
}

.nav-tabs li.active {
  background-color: rgba(255, 255, 255, 0.2);

  a {
    box-shadow: none;
  }
}

.btn {
  text-transform: none;

  &.btn-default {
    background-color: @lightest;
  }

  &.btn-primary {
    background-color: @lightest;
  }
}

#boots,
#states {
  .date {
    font-style: italic;
    color: #aaa;
    margin-right: 10px;
  }

  .heure {
    font-weight: bold;
  }

  .archived {
    background-color: #b2b2b2;
    padding: 0;

    .date {
      color: #f1f1f1
    }
  }
}

.panel.panel-default {
  .panel-heading {
    background-color: @lightest;
  }
}

.form-control,
.mb-3 .form-control {
  background-color: white;
}

.meteor-id {
  display: none;
}

.alpha-50 {
  opacity: 0.5;
}

// side menu, admin hardwares, admin logs
.btn,
.label,
.menuqui {
  &.lastSeen-ok {
    background-color: var(--color-front) !important;
    color: white !important;

    &:hover,
    &:hover i {
      color: white !important;
    }
  }

  &.lastSeen-warning {
    //background-color: @btn-warning-bg;
    color: white;

    &:hover,
    &:hover i {
      color: white !important;
    }
  }

  &.lastSeen-danger {
    //background-color: @btn-danger-bg;
    color: white;

    &:hover,
    &:hover i {
      color: white !important;
    }
  }

  &.lastSeen-nok {
    opacity: 0.5;
  }

  &.lastSeen-never {
    opacity: 1;
  }

  &.btn-selected {
    background-color: var(--color-front) !important;
    color: white !important;
  }
}

#wrapper {
  ::-webkit-scrollbar {
    width: 3px;
  }

  /* Track */

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */

  ::-webkit-scrollbar-thumb {
    background: var(--color-front-light);
  }

  /* Handle on hover */

  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-front);
  }
}