.rotate(@r) {
  -ms-transform: rotate(@r); /* IE 9 */
  -webkit-transform: rotate(@r); /* Chrome, Safari, Opera */
  transform: rotate(@r);
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@direction: ltr; // use `rtl` or `ltr

@rtl: ~`"@{direction}" === 'rtl' ? 'true' : 'false'`;
@left: ~`@{rtl} ? 'right' : 'left'`;
@right: ~`@{rtl} ? 'left' : 'right'`;

/* Generic Padding Helpers
------------------------------------
*/

.generate-paddings-options(20);

.generate-paddings-options(@n, @i: 0) when (@i =< @n) {
  @step: @i*5;
  .p-t-@{step} {
    padding-top: (@step*1px) !important;
  }
  .p-r-@{step} {
    .padding-right((@step*1px)) !important;
  }
  .p-l-@{step} {
    .padding-left((@step*1px)) !important;
  }
  .p-b-@{step} {
    padding-bottom: (@step*1px) !important;
  }
  .padding-@{step} {
    padding: (@step*1px) !important;
  }
  .generate-paddings-options(@n, (@i + 1));
}

/* Generic Margin Helpers
------------------------------------
 */
.generate-margin-options(20);

.generate-margin-options(@n, @i: 0) when (@i =< @n) {
  @step: @i*5;
  .m-t-@{step} {
    margin-top: (@step*1px) !important;
  }
  .m-r-@{step} {
    .margin-right(@step*1px) !important;
  }
  .m-l-@{step} {
    .margin-left(@step*1px) !important;
  }
  .m-b-@{step} {
    margin-bottom: (@step*1px) !important;
  }
  .margin-@{step} {
    margin: (@step*1px);
  }
  .generate-margin-options(@n, (@i + 1));
}


// "margin:" rule

.margin(@top, @right, @bottom, @left) when not (@rtl) {
  margin: @top @right @bottom @left;
}

.margin(@top, @right, @bottom, @left) when (@rtl) {
  margin: @top @left @bottom @right;
}

.ie7-margin(@top, @right, @bottom, @left) when not (@rtl) {
  *margin: @top @right @bottom @left;
}

.ie7-margin(@top, @right, @bottom, @left) when (@rtl) {
  *margin: @top @left @bottom @right;
}


// "margin-left:" rule

.margin-left(@left) when not (@rtl) {
  margin-left: @left;
}

.margin-left(@left) when (@rtl) {
  margin-right: @left;
}

.ie7-margin-left(@left) when not (@rtl) {
  *margin-left: @left;
}

.ie7-margin-left(@left) when (@rtl) {
  *margin-right: @left;
}


// "margin-right:" rule

.margin-right(@right) when not (@rtl) {
  margin-right: @right;
}

.margin-right(@right) when (@rtl) {
  margin-left: @right;
}

.ie7-margin-right(@right) when not (@rtl) {
  *margin-right: @right;
}

.ie7-margin-right(@right) when (@rtl) {
  *margin-left: @right;
}


// "padding:" rule

.padding(@top, @right, @bottom, @left) when not (@rtl) {
  padding: @top @right @bottom @left;
}

.padding(@top, @right, @bottom, @left) when (@rtl) {
  padding: @top @left @bottom @right;
}


// "padding-left:" rule

.padding-left(@left) when not (@rtl) {
  padding-left: @left;
}

.padding-left(@left) when (@rtl) {
  padding-right: @left;
}


// "padding-right:" rule

.padding-right(@right) when not (@rtl) {
  padding-right: @right;
}

.padding-right(@right) when (@rtl) {
  padding-left: @right;
}


// "text-align:" rule

.text-align() {
  text-align: @left;
}

.text-align(@align) when not (@rtl), not (@align = left) and not (@align = right) {
  text-align: @align;
}

.text-align(left) when (@rtl) {
  text-align: right;
}

.text-align(right) when (@rtl) {
  text-align: left;
}

