#admin-layout {
  display: flex;
  flex-direction: row;

  #menu {
    width: 246px;
    min-height: 100vh;
    background-color: var(--color-admin);
    .navbar-brand {
      color: white;
      margin-bottom: 20px;
      display: block;
    }
    .nav-item {
      &:hover,
      &.active {
        background-color: black;
      }
      a {
        color: white;
      }
    }
    .dropdown-item {
      background-color: var(--color-admin);
      &:hover,
      &.active {
        background-color: black;
      }
      a {
        color: white;
      }
    }
  }

  #content {
    flex: 1;
    padding: 20px;
  }

  .content {
    .log-tag-send {
      opacity: 0.5;
    }

    .log-tag-error {
      background-color: #fee;
    }

    .log-tag-triggered {
      background-color: #eef;
    }
  }

  .ui-sortable {
    li.the-style {
      &:hover {
        box-shadow: -1px 5px 10px #888888;
      }
    }
  }

  li.the-style {
    padding: 5px;
    margin: 5px 0;

    &.ui-sortable-handle {
      cursor: move;
      cursor: -webkit-grabbing;

      .task-title,
      .task-text,
      .note-editor {
        cursor: text;
      }
    }

    .nb-donnees {
      padding-right: 10px;
    }

    background-color: @page-background;
    box-shadow: -1px 1px 3px #888888;

    .askEtat {
      margin-right: 5px;
    }

    li:hover {
      background-color: @sidebar-background;
    }
  }

  .troisbutton {
    margin-right: 5px;
    float: left;
  }

  //    config
  .sortableCle {
    padding: 0;

    li {
      padding: 5px 0 0 26px;

      &:hover {
        background-color: @page-background;
      }
    }
  }

  #w-menu {
    width: 246px;
  }
}
