#front-layout {
  min-height: 100%;

  nav.navbar {
    background-color: var(--color-front);
  }

  &.tablet-mode {
    .display-key {
      height: 90px;
      padding: 5px;

      .value {
        font-size: 35px;
      }

      .tablet-mode-hide {
        display: none;
      }
    }
  }
}