@import "variables.less";
@import "customs/mixins.import.less";
@import "customs/main.import.less";
@import "customs/dark.import.less";
@import "./messages.import.less";
@import "./switch.less";
@import "./front.less";
@import "./configuration.less";
@import "./admin.less";
@import "./responsive.less";

html,
body {
  height: 100%;
}

html {
  overflow-y: scroll;
}

body {
  font-family: "Chilanka", cursive;
  background-color: @gray-light;
  // padding-top: 58px;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    a {
      display: block;
      padding: 5px;
      color: black;

      &:hover {
        text-decoration: none;
        background-color: @sidebar-background;
        color: black;
      }
    }
  }

  a.clickable {
    color: var(--color-link) !important;
  }

  input,
  button,
  .btn,
  select,
  optgroup,
  textarea {
    margin: 0; // 1
    font-family: inherit;
    line-height: inherit;
  }

  // PAGE HEADER
  .page-header {
    margin: 30px 0 0;

    h1 {
      margin: 0;
      text-align: center;
    }

    .subtitle {
      text-align: center;
      height: 40px;
      line-height: 40px;
      opacity: 0.7;

      span {
        vertical-align: middle;
        display: inline-block;
        line-height: normal;
        /* on rétablit le line-height */
      }
    }
  }

  #account-menu {
    position: relative;

    #account-menu-list {
      position: absolute;
      top: 50px;
      right: 0px;
      background: white;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
        0 2px 10px 0 rgba(0, 0, 0, 0.12);

      a {
        padding: 10px;
      }
    }
  }

  .tab-content {
    padding: 10px;
    background-color: #efefef;
  }

  #wrapper {
    padding-top: 57px;
    min-height: 100%;
    height: 100%;

    > .row:first-child {
      min-height: 100%;
      height: 100%;
    }

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

    &.sidebar-on {
      padding-left: 200px;
    }

    #sidebar {
      transition: all 0.5s;
      position: fixed;
      left: 0;
      width: 200px;
      height: 100%;
      margin-left: -200px;
      overflow-y: auto;
      background-color: @sidebar-background;
      padding: 0;
      border-top: 1px solid @page-background;
      box-shadow: -1px 1px 3px #888888;

      &.show {
        left: 200px;
      }

      ul li a {
        display: block;
        padding: 10px 15px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        border-radius: 0;

        &:not(.btn-longtime) {
          color: white;
        }

        &.active {
          background-color: #2bbbad !important;
        }
      }

      > ul {
        position: absolute;
        top: 0;
        width: 200px;
        margin: 0;
        padding: 0;
        list-style: none;

        > li.menuSection {
          border-bottom: 1px solid @page-background;

          a {
            text-decoration: none;
            width: 100%;

            &:hover {
              i {
                opacity: 0.7;
              }
            }

            i.fa-caret-right {
              position: absolute;
              right: 10px;
              -moz-transition: all 0.2s ease;
              -webkit-transition: all 0.2s ease;
              -o-transition: all 0.2s ease;
              transition: all 0.2s ease;
            }
          }

          &:hover {
            i.fa-caret-right {
              position: absolute;
              right: 10px;
              .rotate(90deg);
            }
          }

          &.active {
            background-color: var(--color-front-light);

            > a {
              color: white;

              i {
                color: white;
              }

              i.fa-caret-right {
                position: absolute;
                right: 10px;
                .rotate(90deg);
              }
            }

            &:hover {
              > a {
                color: white;

                i {
                  color: white;
                }
              }
            }

            ul {
              display: block !important;

              li {
                height: 40px;

                &.active a {
                  background-color: var(--color-front);
                  color: #fff;
                }
              }
            }
          }

          .menuSectionIn {
            display: none;

            li {
              height: 24px;

              a {
                background-color: @gray-light;
                padding-left: 20px;
                white-space: nowrap;
                border-right: 0;
              }
            }
          }
        }
      }
    }
  }

  .content {
    width: 100%;
    padding: 57px 0 50px 20px;
    min-height: 100%;
    margin-right: 250px;
    background-color: @gray-light;

    .how-long-hour {
      padding: 0;

      li {
        &.tabActive {
          a {
            color: white;
            text-decoration: none;
          }
        }

        a {
          &.btn-primary {
            color: white;
          }

          color: black;
          padding: 5px 10px;
        }
      }
    }
  }

  input,
  select,
  textarea,
  button,
  .btn,
  .input-group-addon,
  .dropdown-menu,
  .well,
  .form-control {
    border-radius: 5px;
  }

  .current-time {
    width: 70%;
    color: white;
    font-size: 32px;
  }

  .breadcrumb {
    background-color: transparent !important;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    a {
      transition: all 0.5s ease !important;
      color: #fff !important;
      padding: 7px 17px 3px 27px;
      margin: 1px 0 1px 2px;
      position: relative;
      display: inline-block;
      border-radius: 15px;

      /* The left triangle */

      &:before {
        border-bottom: 17px solid transparent;
        border-left: 20px solid @gray-light;
        border-top: 17px solid transparent;
        bottom: 0;
        content: "";
        height: 0;
        left: 0;
        position: absolute;
        top: 0;
        width: 0;
      }

      /* The right triangle */

      &:after {
        transition: all 0.5s ease !important;
        border-bottom: 17px solid transparent;
        border-left: 20px solid var(--color-front);
        border-top: 17px solid transparent;
        bottom: 0;
        content: "";
        height: 0;
        position: absolute;
        right: -9px;
        top: 0;
        -webkit-transform: translateX(0.667667em);
        -ms-transform: translateX(0.667667em);
        transform: translateX(0.667667em);
        width: 0;
        border-radius: 30px;
        z-index: 2;
      }

      &.no-link {
        cursor: unset;
      }

      &.color-front {
        background-color: var(--color-front);

        &:after {
          border-left-color: var(--color-front);
        }
      }

      &.color-config {
        background-color: var(--color-config);

        &:after {
          border-left-color: var(--color-config);
        }
      }

      &.color-admin {
        background-color: var(--color-admin);

        &:after {
          border-left-color: var(--color-admin);
        }
      }

      &.active,
      &:hover,
      &:focus,
      &:active {
        transition: all 0.5s ease;

        &:after {
          transition: all 0.5s ease;
        }

        &.color-front {
          background-color: var(--color-front-light);

          &:after {
            border-left-color: var(--color-front-light);
          }
        }

        &.color-config {
          background-color: var(--color-config-light);

          &:after {
            border-left-color: var(--color-config-light);
          }
        }

        &.color-admin {
          background-color: var(--color-admin-light);

          &:after {
            border-left-color: var(--color-admin-light);
          }
        }
      }
    }
  }

  #dashboard-rooms {
    padding: 50px 15px;

    .room {
      .action-result {
        display: none;
      }
    }
  }

  ul.md-tabs {
    position: relative;
    z-index: 1;
    padding: 7px;
    margin-right: 1rem;
    margin-bottom: -20px !important;
    margin-left: 1rem;
    background-color: var(--color-front-light);
    border: 0 !important;
    border-radius: 0.25rem;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18),
      0 4px 15px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18),
      0 4px 15px 0 rgba(0, 0, 0, 0.15);

    li.nav-item {
      a.nav-link {
        background-color: var(--color-front);
        padding: 5px 10px;
        margin: 2px;
        border-radius: 10px;
        -webkit-transition: all 1s;
        transition: all 1s;

        &.active,
        &:hover {
          background-color: var(--color-front-lighter);
          border-color: var(--color-front-lighter);
          border-radius: 10px;
          color: white;
        }
      }
    }
  }

  /* display-key base combiné avec .the-style de base : bloc affichant les valeurs */

  .display-key {
    position: relative;
    display: inline-block;
    text-align: center;
    vertical-align: bottom;
    border: 4px solid white;
    color: black;
    height: 220px;

    &.hide-hard {
      height: 200px;
    }

    &:hover {
      box-shadow: -1px 1px 5px #000;
      // transform: scale(1.02);
      // transform: scale3d(100%, 100%, 100%);
      // transform: scale3d(1.02, 1.02, 1.02) translateZ(0);
      transform: scale(1.02) translateZ(0);
      // transform: translate3d(0,0,100%); /* activation de l'AM */
      backface-visibility: hidden;
    }

    &.status-teal {
      border-color: #009688;
    }

    &.status-orange {
      border-color: #ff9800;
      opacity: 0.8;
    }

    &.status-red {
      border-color: #f44336;
      opacity: 0.5;
    }

    .value {
      text-align: center;
      padding: 5px;
      color: #027ed8;
      font-size: 30px;
      font-weight: bold;
    }

    .subValue {
      opacity: 0.7;
    }

    .subTitle {
      opacity: 0.5;
    }

    .status-circle {
      position: absolute;
      bottom: 8px;
      right: 10px;
      opacity: 0.7;
      width: 10px;
      height: 10px;
      border-radius: 5px;
    }

    .type {
      position: absolute;
      bottom: 0;
      left: 3px;
      opacity: 0.7;
    }
  }

  .the-style {
    .bloc-in {
      border: 1px solid #ced4da;
      padding: 10px;
      margin: 10px;
      border-radius: 10px;
    }
  }

  .the-style,
  .display-key {
    padding: 10px;
    margin: 5px;
    background-color: @lightest;
    box-shadow: -1px 1px 3px #888888;
    border-radius: 10px;

    &.witha {
      padding: 0;

      &:hover {
        box-shadow: -1px 5px 10px #888888;
      }

      > a {
        display: block;
        padding: 10px;
        color: black;
      }
    }

    &.with-hover {
      &:hover {
        box-shadow: -1px 5px 10px #888888;
      }

      &:active {
        box-shadow: -1px 1px 3px #eee;
      }
    }

    ul {
      li {
        &:hover {
          background-color: @gray-light;
        }
      }
    }

    &.with-a {
      padding: 0;

      a {
        padding: 10px;
        line-height: 37px;
      }
    }
  }

  .br-5 {
    border-radius: 5px;
  }

  .img-responsive {
    display: inline;
    max-width: 100%;
  }

  .apphd-modal {
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #00000059;
    display: grid;
    align-items: center;
    justify-items: center;
    /* adjusted */

    .bloc {
      background-color: white;
      float: none;
      border-radius: 10px;

      .header,
      .body,
      .footer {
        padding: 10px 20px;
      }

      .header {
        &:empty {
          display: none;
        }
      }

      .body {
        &:empty {
          display: none;
        }
      }

      .footer {
        a {
          padding: 5px;

          &.yes {
            background-color: var(--bs-primary);
            color: white;
          }
        }
      }
    }
  }

  .text-longtime {
    opacity: 0.5;
  }

  .text-red {
    color: #ff3547;
  }

  .text-orange {
    color: #e9573f;
  }

  .text-teal {
    color: #009688;
  }

  .text-hard {
    color: var(--color-hard);
  }

  .text-key {
    color: var(--color-key);
  }

  .bold {
    font-weight: bolder;
  }

  .select2-container .select2-selection--single {
    height: 37px;
    border: 1px solid #ced4da;
    padding: 5px;
  }

  .table th,
  .table td {
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
  }
}
