#messages {
  position: fixed;
  top: 100px;
  left: 100px;
  z-index: 10;

  .message {
    margin: 10px;
    background-color: white;
    box-shadow: -1px 1px 3px #888888;

    .close {
      padding: 9px;
    }

    .title {
      white-space: nowrap;
      padding: 10px 35px 10px 10px;
    }

    &.error {
      .title {
        background-color: #ff5656;
        color: white;
      }
    }

    .text {
      padding: 10px;
    }

    .details {
    }
  }
}

#messages-admin{
  #messages{
    position: unset;
    .infos{
      padding-left: 50px;
    }
  }
}