body {
  @media (max-width: 767px) {
    .content {
      position: absolute;
      padding: 0 0 50px !important;
    }

    .buttons {
      .bloc {
        margin: 1px;
      }
    }

    .bloc.button {
      padding: 5px !important;
    }

    .tab-content.card {
      padding: 2px !important;
    }

    #front-layout {
      #dashboard-rooms {
        padding: 0;
      }

      .display-key {
        .value {
          font-size: 23px !important;
        }

        .subValue {
          font-size: 13px;
        }
      }

      .bloc-consigne {
        font-size: 15px;
      }

      .bloc-current-value {
        opacity: 0.5;
        font-size: 15px;
      }
    }
  }

  @media (max-width: 1200px) {
    .breadcrumb {
      margin-top: 0;
    }

    .btn-boolean {
      padding: 0 !important;
    }

    #dashboard-rooms {
      .room {
        text-align: center;
      }
    }
  }

  @media (min-width: 1920px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
      max-width: 1860px;
    }
  }
}
