// Custom homedoudou

:root {
  --color-front-dark: #005b52;
  --color-front: #009688;
  --color-front-light: #00aa9a;
  --color-front-lighter: #00ccb8;
  --color-config: #4285f4;
  --color-config-light: #77a8ff;
  --color-admin: #ff3547;
  --color-admin-light: #fd4254;
  --color-dark: #545454;
  --color-darker: #262626;
  --color-primary: #4285f4;
  --color-hard: #4caf50;
  --color-key: #027ed8;
  --color-warning: #cc8800;
  --color-light: #a9a9a9;
  --color-link: #007bff;
}

//colors
@gray-darker: black;
@gray-dark: lighten(#000, 20%);
@gray: #424242;
@gray-light: #f4f4f4;
@gray-lighter: #7c7c7c;
@gray-lightest: lighten(#000, 97.25%);
@lightest: white;

@page-background: @gray-light;
@sidebar-background: @lightest; // sidebar gris
@sidebar-link-color: @gray;
@sidebar-link-active-color: @gray-darker;
@topbar-background: @gray-light;
@topbar-link-color: @gray;
@topbar-link-active-color: @gray-darker;
@footer-background: @gray-light;
@footer-color: @gray-lighter;

@left-menu-width: 200px;
@inactive-nav-text-color: #777;
//@page-header-height: 110px;

//@color-header: #d2edc4;
@color-header: #fff;
@color-menu-section: #eee;
