<template name="configurationRoomsCumulativeKeys">
  <div class="tab-content card pt-5 room" id="tab-keys">
    <table class="table">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Matériel</th>
          <th>Groupe</th>
          <th width="100"></th>
        </tr>
      </thead>
      <tbody class="sortable">
        {{#each cumulKeysByRoomId _id}}
          <tr class="the-style" data-sortable-key_id="{{_id}}">
            <td>
              {{#each lines}}
                {{aliasname (getKeyById key_id)}}<br>
              {{/each}}
            </td>
            <td>
              {{#each lines}}
                {{aliasname (getHardOne hard_id)}}<br>
              {{/each}}
            </td>
            <td>{{> configurationRoomsSelect _id=_id rooms=roomsId}}</td>
            <td>
              {{#if isEditing}}
                <a class="btn btn-sm btn-primary js-submit"><i class="fa fa-save"></i></a>
              {{else}}
                <a class="btn btn-xs btn-warning js-edit"><span class="material-icons-outlined">edit</span></a>
                <a class="btn btn-xs btn-danger js-remove"><span class="material-icons-outlined">delete</span></a>
              {{/if}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
    {{#with cumulKeysByRoomId _id}}
      {{#each this}}
        <form id="form_{{_id}}"></form>
      {{/each}}
    {{/with}}
    {{> configurationRoomsCumulativeKeyAdd}}
  </div>
</template>