<template name="configurationRoomsCumulativeKeyAdd">
  <form class="rooms-key-add">
    <div class="row the-style">
      <div class="col">
        {{#each getHardId}}
          <select name="keyId" data-index="{{index}}" class="form-control">
            <option value="">-- Choisir CLE --</option>
            {{#each getMyKeysByHardId hard_id}}
              <option value="{{_id}}" {{isSelectedOption _id ../hard_id}}>{{aliasname}}</option>
            {{/each}}
          </select>
        {{/each}}
      </div>
      <div class="col">
        {{#each getHardId}}
          <select name="hardId" data-index="{{index}}" class="form-control">
            <option value="">-- Choisir MATERIEL --</option>
            {{#each getMyHardwares}}
              <option value="{{_id}}" {{isSelectedOption _id ../hard_id}}>{{aliasname}}</option>
            {{/each}}
          </select>
        {{/each}}
        <select name="hardId" class="form-control">
          <option value="">-- Choisir MATERIEL --</option>
          {{#each getMyHardwares}}
            <option value="{{_id}}">{{aliasname}}</option>
          {{/each}}
        </select>
      </div>
      <div class="col">

      </div>
      <div class="col">{{> configurationRoomsSelect}}</div>
      <div class="col text-right"><a class="btn btn-sm btn-primary js-key-add"><i class="fa fa-plus"></i></a></div>
    </div>
  </form>
</template>